page-dashboard-gro {
.roundbtn_icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.dark_bg2{
    background: #242639;
}
.dro_grid{
    background: #353A50;
    border-radius: 10px;
    // margin-bottom: 15px;
}
.dro_grid>.dro_head{
    padding: 6px 10px;
    border-bottom: 1px solid #242639
}
.dro_grid>.dro_head .head4{
    color: #fff;
}
.dro_grid>.dro_rowtwo{
    padding: 6px 16px;
}
.dro_grid>.dro_rowtwo .name{
    color: #fff;
}
.dro_grid>.dro_rowtwo [col-6]{
    line-height: 18px;
}
.dro_grid>.dro_rowtwo [col-6] .head4{
    color: #fff;
}
.dro_grid>.dro_rowtwo .avatar [col-9]{
    line-height: 18px;
}
.avatar ion-icon {
    font-size: 2.4em;
}
.dro_grid>.dro_rowthree{
    padding: 6px 16px;
}
.dro_grid .values{
    margin-top: 5px;
}
.dro_grid>.dro_rowthree .valuewhite{
    color: #fff;
}
.timer{text-align: right};
.startservice{display: none;}
.dro_grid>.dro_rowfour{
    padding: 6px 16px;
}
.dro_grid.active{
    background: #fff;
}
.dro_grid.active>.dro_head{
    padding: 6px 10px;
    border-bottom: 1px solid #eee
}
.dro_grid.active>.dro_head .head4{
    color: #222;
}
.dro_grid.active>.dro_rowtwo .name{
    color: #222;
}
.dro_grid.active>.dro_rowtwo [col-6] .head4{
    color: #222;
}
.dro_grid.active>.dro_rowthree .valuewhite{
    color: #222;
}
.dro_grid.active .timer{
    display: none;
}
.dro_grid.active .startservice{
    text-align: left;
    display: block;
}
.alignbottom{
    vertical-align: bottom;
    line-height: 18px;
}
.dro_grid.active>ion-row{
    border-bottom: 1px solid #eee;
}
.dro_grid.active>ion-row:last-child{
    border-bottom: 0px;
}
.posmenu{
    display: block !important;
}
.dategrid{
    background: #292D40;
    min-height: 100px;
}

@media screen and (min-width: 600px){
    .segment-md .segment-button {
       
        font-size: 2.5rem;
    }
    .toolbar-title-md
    {
        font-size: 2.5rem;
    }
    .img-align
    {
        width: 35px !important;
    }
    .form_group
    {
        min-height: 70px;
    }
   .segment-md ion-label
    {
        padding: 35px 0px 0px 0px;
    }
    ion-grid 
    {
        font-size: 20px;
    }
    .searchbar-md .searchbar-input
    {
        font-size: 20px;
    }
    .custom-btn
    {
        height: 5rem;
    }
  .datepicker ion-icon:before
  {
    font-size: 2.5rem;
  }
  .button-md
  {
      font-size: 2.1rem;
  }
    
}
}
