<ion-header class="dark_header">

    <ion-navbar hideBackButton>
        <button left show persistent="true"  menuToggle class="no-background posmenu" >
            <img src="assets/imgs/icons-dark-menu-on.png" />
            
            </button>
            <ion-title text-center class="text-white">28 June 2018 - 22:54</ion-title>
      
    </ion-navbar>
  
  </ion-header>


<ion-content class="dark_bg2" no-padding>
  <ion-grid>
    <ion-row align-items-center text-center class="dategrid">
      <ion-col>
        <label class="wnormal para text-dim" no-margin>Calendar space</label>
      </ion-col>
    </ion-row>
  </ion-grid>
<div padding>
<!--active grid-->
  <ion-grid no-padding padding-bottom class="dro_grid active">
    <ion-row align-items-center class="dro_head">
      <ion-col no-padding col-10>
        <span class="head4">Slot 02</span>
        <span class="text-dim" margin-left>12:00 pm - 01:00 pm</span>
      </ion-col>
      <ion-col no-padding col-2 text-right>
        <button ion-button color="ash" class="roundbtn_icon">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="dro_rowtwo" align-items-center>
      <ion-col col-6 no-padding>
        <ion-row class="avatar" align-items-center>
          <ion-col col-3 no-padding>
              <ion-avatar text-left>
                  <ion-icon name="contact"></ion-icon>
              </ion-avatar>
          </ion-col>
          <ion-col col-9 no-padding>
              <ion-label class="name para wnormal" no-margin>Ganesh kumar</ion-label>
              <ion-label class="small wnormal text-grey" no-margin>Kancheepuram</ion-label>
            </ion-col>
      </ion-row>  
      </ion-col>
      <ion-col col-6>
        <div class="timer">
        <ion-label class="wnormal para text-dim" no-margin>Starts In</ion-label>
        <ion-label class="head4" no-margin>08:05:59</ion-label>
      </div>
      <div class="startservice">
        <button ion-button color="primary" text-uppercase class="custom-btn" (click)="openModal()">start service</button>
      </div>
      </ion-col>
    </ion-row>
    <ion-row class="dro_rowthree">
      <ion-col col-6>
        <ion-label class="wnormal small text-grey" no-margin text-capitalize>
          Flight detail
        </ion-label>
        <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
          9W-05080 Dubai - JAI
        </ion-label>       
      </ion-col>
      <ion-col col-6>
        <ion-label class="wnormal small text-grey" no-margin text-capitalize>
          Flight date & time
        </ion-label>
        <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
          30/06/2018 - 01.55 hrs
        </ion-label>       
      </ion-col>
    </ion-row>
    <ion-row class="dro_rowthree">
      <ion-col col-6>
        <ion-label class="wnormal small text-grey" no-margin text-capitalize>
          service date & time
        </ion-label>
        <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
          29/10/2018 - 22.55hrs
        </ion-label>       
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col no-padding>
              <ion-label class="wnormal small text-grey" no-margin text-capitalize>
                  Adult
                </ion-label>
                <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
                    02
                  </ion-label>
          </ion-col>
          <ion-col no-padding>
              <ion-label class="wnormal small text-grey" no-margin text-capitalize>
                  Child
                </ion-label>
                <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
                    01
                  </ion-label>
          </ion-col>
          <ion-col no-padding>
              <ion-label class="wnormal small text-grey" no-margin text-capitalize>
                  Infant
                </ion-label>
                <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
                    00
                  </ion-label>
          </ion-col>
        </ion-row>                 
        </ion-col>
    </ion-row>
    <ion-row class="dro_rowfour" align-items-center>
        <ion-col col-4>
          <button ion-button color="gold" text-uppercase class="border-radius">gold</button>                
        </ion-col>
        <ion-col col-5>
            <ion-label class="wnormal text-black small"  no-margin>
                <img src="assets/imgs/lounge_black.png" class="alignmiddle"> <span class="alignbottom">Lounge</span>
              </ion-label>              
          </ion-col>
        <ion-col col-3 text-right>
            <button ion-button color="primary" class="border-radius" text-uppercase>
                <ion-icon name="call"></ion-icon>
            </button>                
        </ion-col>
      </ion-row>
  </ion-grid>
<!-- inactive grid -->
<ion-grid no-padding padding-bottom class="dro_grid">
  <ion-row align-items-center class="dro_head">
    <ion-col no-padding col-10>
      <span class="head4">Slot 02</span>
      <span class="text-dim" margin-left>12:00 pm - 01:00 pm</span>
    </ion-col>
    <ion-col no-padding col-2 text-right>
      <button ion-button color="ash" class="roundbtn_icon">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="dro_rowtwo" align-items-center>
    <ion-col col-6 no-padding>
      <ion-row class="avatar" align-items-center>
        <ion-col col-3 no-padding>
            <ion-avatar text-left>
                <ion-icon name="contact"></ion-icon>
            </ion-avatar>
        </ion-col>
        <ion-col col-9 no-padding>
            <ion-label class="name para wnormal" no-margin>Ganesh kumar</ion-label>
            <ion-label class="small wnormal text-grey" no-margin>Kancheepuram</ion-label>
          </ion-col>
    </ion-row>  
    </ion-col>
    <ion-col col-6>
        <div class="timer">
        <ion-label class="wnormal para text-dim" no-margin>Starts In</ion-label>
        <ion-label class="head4" no-margin>08:05:59</ion-label>
      </div>
      <div class="startservice">
        <button ion-button color="primary" text-uppercase class="custom-btn">start service</button>
      </div>
      </ion-col>
  </ion-row>
  <ion-row class="dro_rowthree">
    <ion-col col-6>
      <ion-label class="wnormal small text-grey" no-margin text-capitalize>
        service date & time
      </ion-label>
      <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
          29/10/2018 - 22.55hrs
      </ion-label>      
    </ion-col>
    <ion-col col-6>
      <ion-row>
        <ion-col no-padding>
            <ion-label class="wnormal small text-grey" no-margin text-capitalize>
                Adult
              </ion-label>
              <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
                  02
                </ion-label>
        </ion-col>
        <ion-col no-padding>
            <ion-label class="wnormal small text-grey" no-margin text-capitalize>
                Child
              </ion-label>
              <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
                  01
                </ion-label>
        </ion-col>
        <ion-col no-padding>
            <ion-label class="wnormal small text-grey" no-margin text-capitalize>
                Infant
              </ion-label>
              <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
                  00
                </ion-label>
        </ion-col>
      </ion-row>                 
      </ion-col>
  </ion-row>
</ion-grid>
<!--inactive grid-->
<ion-grid no-padding padding-bottom class="dro_grid">
    <ion-row align-items-center class="dro_head">
      <ion-col no-padding col-10>
        <span class="head4">Slot 02</span>
        <span class="text-dim" margin-left>12:00 pm - 01:00 pm</span>
      </ion-col>
      <ion-col no-padding col-2 text-right>
        <button ion-button color="ash" class="roundbtn_icon">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="dro_rowtwo" align-items-center>
      <ion-col col-6 no-padding>
        <ion-row class="avatar" align-items-center>
          <ion-col col-3 no-padding>
              <ion-avatar text-left>
                  <ion-icon name="contact"></ion-icon>
              </ion-avatar>
          </ion-col>
          <ion-col col-9 no-padding>
              <ion-label class="name para wnormal" no-margin>Ganesh kumar</ion-label>
              <ion-label class="small wnormal text-grey" no-margin>Kancheepuram</ion-label>
            </ion-col>
      </ion-row>  
      </ion-col>
      <ion-col col-6>
          <div class="timer">
          <ion-label class="wnormal para text-dim" no-margin>Starts In</ion-label>
          <ion-label class="head4" no-margin>08:05:59</ion-label>
        </div>
        <div class="startservice">
          <button ion-button color="primary" text-uppercase class="custom-btn">start service</button>
        </div>
        </ion-col>
    </ion-row>
    <ion-row class="dro_rowthree">
      <ion-col col-6>
        <ion-label class="wnormal small text-grey" no-margin text-capitalize>
          service date & time
        </ion-label>
        <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
            29/10/2018 - 22.55hrs
        </ion-label>      
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col no-padding>
              <ion-label class="wnormal small text-grey" no-margin text-capitalize>
                  Adult
                </ion-label>
                <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
                    02
                  </ion-label>
          </ion-col>
          <ion-col no-padding>
              <ion-label class="wnormal small text-grey" no-margin text-capitalize>
                  Child
                </ion-label>
                <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
                    01
                  </ion-label>
          </ion-col>
          <ion-col no-padding>
              <ion-label class="wnormal small text-grey" no-margin text-capitalize>
                  Infant
                </ion-label>
                <ion-label class="wnormal small valuewhite values" text-capitalize no-margin>
                    00
                  </ion-label>
          </ion-col>
        </ion-row>                 
        </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
