<ion-content padding class="dark_bg" text-center>
    <button ion-button text-white class="modalclose" no-padding ><ion-icon name="close-circle" (click)="closeModal()"></ion-icon></button>
  <ion-label class="wnormal text-white head3"  no-margin margin-bottom>
    M & G process complete
  </ion-label>
  <ion-label class="wnormal text-white para"  no-margin margin-bottom>
    Lorem ipsum is simply dummy text of printing and typesetting industry.
  </ion-label>
  <ion-row margin-top  class="border_input text-white">            
    <ion-col  justify-content-center > 
      <ion-input text-left class="text-white" placeholder="Enter your OTP here" type="text" ></ion-input>   
    </ion-col>
  </ion-row>
  <ion-row justify-content-center text-center>
    <ion-col>
    <button ion-button clear text-capitalize no-padding class="text-dim">
    Resend to Guest
    </button>
    </ion-col>
    </ion-row> 
  <ion-row justify-content-center text-center>
  <ion-col>
  <button ion-button color="primary" text-uppercase padding class="custom-btn">
  Submit</button>
  </ion-col>
  </ion-row>
  </ion-content>
  