page-pop-meet-greet {
    .modalclose{
        width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 2rem;
    background: transparent;
    box-shadow: none;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;
    }
}
