<!--
  Generated template for the PrimePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dark_header">

  <ion-navbar hideBackButton>
    <button left show persistent="true" menuToggle class="no-background posmenu">
      <img src="assets/imgs/icons-dark-menu-on.png" />

    </button>
    <ion-title text-center class="text-white">GMR PRIME</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-grid>
    

  </ion-grid> -->


  <ion-list>
    <ion-item *ngFor="let item of checkList, let i=index">
        <ion-label> {{item.title}}</ion-label>
        <ion-checkbox (ionChange)="updateStatus(i,item.key)" mode="ios"  [disabled]="item.checked" [checked]="item.checked"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
