<ion-header>

  <ion-navbar>
    <ion-title text-capitalize text-center>flight detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="appbg">
    <ion-grid class="mapgrid">
      <ion-row align-items-center text-center>
        <ion-col>
          <img src="assets/imgs/mapflight.png">
          <ion-label class="wnormal barcode" no-margin>
            <img src="assets/imgs/barcode.png">
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col col-5 text-center>
  
          <ion-label class="wnormal small text-grey" no-margin>Origin</ion-label>
          <ion-label class="wnormal bigtext text-black" *ngIf="searchResult.m == 'departure'" text-uppercase no-margin>HDD</ion-label>
          <ion-label class="wnormal bigtext text-black" *ngIf="searchResult.m != 'departure'" text-uppercase no-margin>{{searchResult.origin}}</ion-label>
        </ion-col>
        <ion-col col-2 text-center>
          <ion-label class="wnormal small text-grey" no-margin><img src="assets/imgs/icons-dark-next.png"></ion-label>
        </ion-col>
        <ion-col col-5 text-center>
          <ion-label class="wnormal small text-grey" no-margin>Destination</ion-label>
          <ion-label class="wnormal bigtext text-black" *ngIf="searchResult.m != 'arrival'" text-uppercase no-margin>{{searchResult.dest}}</ion-label>
          <ion-label class="wnormal bigtext text-black" *ngIf="searchResult.m == 'arrival'" text-uppercase no-margin>HDD</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid no-padding padding-left padding-right>
      <ion-row class="dark_bg border-radius">
        <ion-col>
          <ion-row class="rowgroup" align-items-center>
            <ion-col col-8 no-padding>
              <ion-label class="wnormal head3 text-white" text-capitalize no-margin>
                Flight Details
              </ion-label>
            </ion-col>
            <ion-col col-4 text-right no-padding>
              <!-- <button ion-button clear class="roundbtn text-grey">
                <ion-icon name="share"></ion-icon>
              </button> -->
              <button ion-button color="darkTwo" class="roundbtn text-grey">
                <ion-icon name="remove"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row class="rowgroup">
            <ion-col col-6 no-padding>
              <ion-row class="avatar" align-items-center>
                <!-- <ion-col col-3>
                        <ion-avatar text-center>
                            <ion-icon name="contact"></ion-icon>
                        </ion-avatar>
                    </ion-col> -->
                <ion-col col-12>
                  <ion-label class="text-white para wnormal">{{searchResult.sch}}</ion-label>
                  <ion-label class="text-grey small wnormal" no-margin>Scheduled</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-6 text-right>
              <ion-label class="text-white para wnormal">{{searchResult.eta}}</ion-label>
              <ion-label class="text-grey small wnormal" no-margin>ETA</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="rowgroup noborder">
            <ion-col col-5>
              <ion-label class="wnormal text-blue small" text-uppercase>flight</ion-label>
              <ion-label class="wnormal text-white para" no-margin>{{searchResult.flNo}}</ion-label>
            </ion-col>
            <ion-col col-4>
              <ion-label class="wnormal text-blue small" text-uppercase>status</ion-label>
              <ion-label class="wnormal text-white para" no-margin>{{searchResult.flStatus}}</ion-label>
            </ion-col>
            <!-- <ion-col col-3 text-right>
              <ion-label class="wnormal text-blue small" text-uppercase>gate</ion-label>
              <ion-label class="wnormal text-white para" no-margin>{{searchResult.gate}}</ion-label>
            </ion-col> -->
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-grid no-padding padding-left padding-right class="trackdetail">
      <ion-row class="rowgroup noborder">
        <ion-col col-3 class="divider_one" text-center>
          <img src="assets/imgs/fd_checkin.png" />
        </ion-col>
        <ion-col col-9 padding-left>
          <ion-label class="wnormal text-ash head4">
            Check-in and baggage drop-off
          </ion-label>
          <ion-label class="wnormal small text-grey" no-margin>
            Departure <strong>3</strong>
          </ion-label>
          <ion-label class="wnormal small text-grey" no-margin>
            Check-in desk <strong>29</strong>
          </ion-label>
          <ion-label class="wnormal small text-grey" no-margin>
            Desk open from <strong>12.00</strong>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowgroup noborder">
        <ion-col col-3 class="divider_pink" text-center>
          <img src="assets/imgs/fd_security.png" />
        </ion-col>
        <ion-col col-9 padding-left>
          <ion-label class="wnormal text-ash head4">
            Security
          </ion-label>
          <ion-label class="wnormal small text-grey" no-margin>
            Gate <strong>G09</strong>
          </ion-label>
          <ion-label class="wnormal small text-grey" no-margin>
            Live waiting time<sup>*</sup> <strong>05 - 10 min</strong>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowgroup noborder">
        <ion-col col-3 class="divider_blue" text-center>
          <img src="assets/imgs/fd_passport.png" />
        </ion-col>
        <ion-col col-9 padding-left>
          <ion-label class="wnormal text-ash head4">
            Passport Control
          </ion-label>
          <ion-label class="wnormal small text-grey" no-margin>
            Keep your passport ready
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowgroup noborder">
        <ion-col col-3 class="divider_one bottom last" text-center>
          <img src="assets/imgs/fd_boarding.png" />
        </ion-col>
        <ion-col col-9 padding-left>
          <ion-label class="wnormal text-ash head4">
            14:40 - Expected Boarding
          </ion-label>
          <ion-label class="wnormal small text-grey" no-margin>
            Gate : <strong>{{searchResult.gate}}</strong>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowgroup noborder">
        <ion-col col-3 text-center>
          <img src="assets/imgs/fd_departure.png" />
        </ion-col>
        <ion-col col-9 padding-left>
          <ion-label class="wnormal text-ash head4">
            <span *ngIf="searchResult.m == 'D'">Departure</span>
            <span *ngIf="searchResult.m == 'A'">Arrival</span>
          </ion-label>
          <ion-row>
            <ion-col col-7>
              <ion-row>
                <ion-col>
                  <span class="text-grey" *ngIf="searchResult.m == 'D'" text-uppercase no-margin>HDD</span>
                  <span class="text-grey" *ngIf="searchResult.m != 'D'" text-uppercase no-margin>{{searchResult.aord}}</span>
                </ion-col>
                <ion-col>
                  - to -
                </ion-col>
                <ion-col>
                  <span class="text-grey" *ngIf="searchResult.m != 'A'" text-uppercase no-margin>{{searchResult.aord}}</span>
                  <span class="text-grey" *ngIf="searchResult.m == 'A'" text-uppercase no-margin>HDD</span>
                </ion-col>
              </ion-row>
            </ion-col>
  
          </ion-row>
          <ion-label class="wnormal small text-grey" no-margin>
            <strong>On Schedule</strong>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-grid padding margin-bottom>
      <ion-row>
        <ion-col>
          <ion-label class="wnormal small text-grey" no-margin>
            <sup>*</sup>Be aware that waiting times change continuously.
            Please check this page regularly for the most current information
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>