<!--
  Generated template for the PlacardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-10 class="guest_sec">
        <p class="guestName">{{plaCardName}}</p>
      </ion-col>
      <ion-col col-2 class="welcome">
        <img class="gmr-logo" src="../../assets/imgs/icon-sq.png" />
        WELCOME TO RGIA
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>