page-placard {
    .placardContainer{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

     .guest_sec {
        background: #1E4679;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        width: 100%;
        max-width: 100%;

    }
    .guestName{
    color: #fff;
    writing-mode: vertical-rl;
    font-size: 12rem;
    font-weight: 600; 
}
   ion-grid {
        height: 100%;
        border: 3px solid #1E4679;
        border-radius: 16px;
    }
    ion-row{
        height: 100%;
    }
    .gmr-logo {
        float: left;
        transform: rotate(90deg);
        padding: 10px;
    }
    .welcome{
        background: #fff;
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
        height: 100%;
        // font-size: -webkit-xxx-large;
        width: 100%;
        text-align: center;
        color: #D59B34;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 3px;
    
        // justify-content: center;
        // align-content: center;
        // align-items: center;
    }
    
}
