
<ion-header class="dark_header">

  <ion-navbar>
    <ion-title class="text-white" text-center  text-capitalize>Feedback</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="dark_bg2" no-padding>
<div>
  <ion-segment [(ngModel)]="feedbacksegment">
    <ion-segment-button value="fb_exe">
      Executive
    </ion-segment-button>
    <ion-segment-button value="fb_cus">
      Customer
    </ion-segment-button>
  </ion-segment>
</div>
<div [ngSwitch]="feedbacksegment" padding>
  <ion-list *ngSwitchCase="'fb_exe'">
    <ion-grid class="feedbackgrid border-radius">
        <ion-row align-items-center>
            <ion-col col-10>
                <ion-row>
                    <ion-col class="profile">
                      <ion-icon name="contact"></ion-icon>
                    </ion-col>
                    <ion-col col-10>
                      <ion-label class="wnormal text-black para" no-margin>Anaswara Rio</ion-label>
                  <ion-label class="wnormal text-dim small" no-margin>Noida, INDIA</ion-label>
                    </ion-col>
                  </ion-row>
            </ion-col>
            <ion-col col-2>
              <ion-label class="wnormal text-black head1" no-margin>
                <ion-icon name="arrow-dropdown"></ion-icon>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row padding>
            <ion-col>
              <ion-label class="wnormal para" no-margin>Its been a real pleasure to have this Executive</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="feed_bottom" align-items-center text-right>
            <ion-col col-3 text-center class="text-dim head3">
                <ion-icon name="share"></ion-icon>
            </ion-col>
            <ion-col col-9 justify-content-end>
              <span class="feedpaper text-dim">80 <ion-icon name="paper"></ion-icon></span>
              <button ion-button color="ash" class="btn-small border-radius">Reply</button>
            </ion-col>
          </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list *ngSwitchCase="'fb_cus'">

  </ion-list>
</div>
</ion-content>

