page-feedback {
    .dark_bg2{
        background: #242639;
    }
    
    .posmenu{
        display: block !important;
    }
    .dategrid{
        background: #292D40;
        min-height: 100px;
    }
    ion-segment{
        border-top: 1px solid #485064;
        border-bottom: 1px solid #485064;
    }
    .segment-md .segment-button{
        border-right: 1px solid #485064;
        border-bottom-width: 4px;
    }
    .segment-md .segment-button{
        color: #8B8D99;
        text-transform: capitalize;
        font-size: 16px;
    }
    .segment-md .segment-button.segment-activated {
        border-color: #3497FD;
        border-right-color: #485064;       
        color: #fff;
        background: #1F2232;
    }
    .slotgrid{
        background: #fff;
        margin-bottom: 15px;
    }
    .slotlist{
        background: #E3E6EB;
        padding: 5px;
        margin-top: 15px;
    }
    .slotlist .profile{
        font-size: 2.3rem;
    }
    .feedbackgrid{
        background: #fff;
    }
    .feedbackgrid .profile{
        font-size: 2.3rem;
    }
    .feed_bottom{
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }
    .feedpaper{
        display: inline-block;
        position: relative;
        top: 6px;
    }
    /* ios */
    .segment-ios .segment-button{
        border-right: 1px solid #485064;
        border-bottom-width: 4px;
    }
    .segment-ios .segment-button{
        color: #8B8D99;
        text-transform: capitalize;
    }
    .segment-ios .segment-button.segment-activated {
        border-color: #3497FD;
        border-right-color: #485064;       
        color: #fff;
        background: #1F2232;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
    }
    /* ios */
    .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #fff;
    }
}
