<!--
  Generated template for the FlightstatusPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="dark_header">

    <ion-navbar hideBackButton>
        <button left show persistent="true" menuToggle class="no-background posmenu">
            <img src="assets/imgs/icons-dark-menu-on.png" />

        </button>
        <ion-title text-center class="text-white">
            <img class="prime_logo" src="../../assets/imgs/gmr_profile.png" />
            Flight Status</ion-title>

    </ion-navbar>

</ion-header>
<ion-content padding class="dark_bg">

    <form [formGroup]="flightStatus">
        <ion-row>
            <ion-col>
                <ion-label class="text-white head2r wnormal">Enter your Flight Number here:</ion-label>
                <!-- <ion-label class="text-white head1 wnormal">Flight Number</ion-label>
                <ion-label class="text-white head1 wnormal">Here:</ion-label> -->
            </ion-col>
        </ion-row>
        <ion-row class="border_input text-white" margin-top>
            <ion-col>
                <ion-select formControlName="chooseArrivDep" [(ngModel)]="chooseArrivDep" no-margin padding-left
                    padding-right placeholder="Select*" interface="popover" (ionChange)="changedArriDep()">
                    <ion-option value="arrival" selected>Arrival</ion-option>
                    <ion-option value="departure">Departure</ion-option>
                </ion-select>
            </ion-col>
        </ion-row>

        <ion-row class="border_input text-white" margin-top align-items-center>
            <ion-col>
                <ion-select formControlName="travelsec" [(ngModel)]="travelsec" no-margin padding-left padding-right
                    placeholder="Select Travel Sector*" interface="popover" (ionChange)="changedSector()">
                    <ion-option value="domestic" selected>Domestic</ion-option>
                    <ion-option value="international">International</ion-option>
                </ion-select>
            </ion-col>
        </ion-row>

        <ion-row class="border_input text-white datepicker" margin-top
            [ngClass]="(!flightStatus.controls.flightDate.valid  && (flightStatus.controls.flightDate.dirty || submitAttempt))?'notvalidborder': ''">

            <ion-col>

                <ion-icon name="calendar" class="text-grey">

                    <ion-datetime placeholder="Flight Date*" formControlName="flightDate" [(ngModel)]="dateofflight"
                        (ionChange)="fetchFlightsList(dateofflight)" displayFormat="DDDD MMM D, YYYY" [min]="minDate"
                        [max]="maxDate" class="text-white"></ion-datetime>
                </ion-icon>


            </ion-col>
        </ion-row>
        <ion-row margin-top class="border_input text-white"
            [ngClass]="(!flightStatus.controls.flightNo.valid  && (flightStatus.controls.flightNo.dirty || submitAttempt))?'notvalidborder': ''">

            <ion-col justify-content-center>
                <ion-searchbar [(ngModel)]="flightNo" formControlName="flightNo" placeholder="Flight Number*"
                    (input)="filterItem(flightNo)" (ionClear)="clearvalues($event)"></ion-searchbar>
                <ion-list *ngIf="showList" class="text-white">
                    <ion-item *ngFor="let f of filteredItems" tappable (click)="enterFlight(f)">
                        {{f}}
                    </ion-item>
                </ion-list>
                <!-- <ion-input text-left class="text-white" formControlName="flightNo" placeholder="Flight Number" type="text"></ion-input> -->

            </ion-col>

        </ion-row>
        <ion-row margin-top justify-content-center text-center>
            <ion-col>
                <button ion-button text-uppercase padding class="custom-btn flSearchBtn" (click)="flightDetails()">
                    search</button>
            </ion-col>
        </ion-row>
    </form>

    <ion-grid no-padding padding-left padding-right margin-top class="backred border-radius" *ngIf="showDetails">
        <ion-grid>
            <ion-row align-items-center class="flightRow">
                <ion-col col-5 text-center>

                    <ion-label class="wnormal small text-grey" no-margin>Origin</ion-label>
                    <ion-label class="wnormal bigtext text-white" *ngIf="searchResult.m == 'departure'" text-uppercase
                        no-margin>HYD</ion-label>
                    <ion-label class="wnormal small text-white" *ngIf="searchResult.m == 'departure'" text-uppercase
                        no-margin>Hyderabad</ion-label>
                    <ion-label class="wnormal bigtext text-white" *ngIf="searchResult.m != 'departure'" text-uppercase
                        no-margin>{{searchResult.origin}}</ion-label>
                    <ion-label class="wnormal small text-white" *ngIf="searchResult.m != 'departure'">
                        {{searchResult.airportInfo.city}}</ion-label>
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-label class="wnormal small text-grey" no-margin><img
                            src="../../assets/imgs/icons-dark-next.png"></ion-label>
                </ion-col>
                <ion-col col-5 text-center>
                    <ion-label class="wnormal small text-grey" no-margin>Destination</ion-label>
                    <ion-label class="wnormal bigtext text-white" *ngIf="searchResult.m != 'arrival'" text-uppercase
                        no-margin>{{searchResult.dest}}</ion-label>
                    <ion-label class="wnormal small text-white" *ngIf="searchResult.m != 'arrival'">
                        {{searchResult.airportInfo.city}}</ion-label>
                    <ion-label class="wnormal bigtext text-white" *ngIf="searchResult.m == 'arrival'" text-uppercase
                        no-margin>HYD</ion-label>
                    <ion-label class="wnormal small text-white" *ngIf="searchResult.m == 'arrival'" text-uppercase
                        no-margin>Hyderabad</ion-label>

                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-row class="backred border-radius" padding>
            <ion-col>
                <ion-row class="rowgroup" align-items-center>
                    <ion-col col-8 no-padding>
                        <ion-label class="wnormal head3 text-white" text-capitalize no-margin>
                            Flight Details
                        </ion-label>
                    </ion-col>
                    <ion-col col-4 text-right no-padding>
                        <!-- <button ion-button clear class="roundbtn text-grey">
                  <ion-icon name="share"></ion-icon>
                </button> -->
                        <!-- <button ion-button color="darkTwo" class="roundbtn text-grey">
                  <ion-icon name="remove"></ion-icon>
                </button> -->
                    </ion-col>
                </ion-row>
                <ion-row class="rowgroup">
                    <ion-col col-6 no-padding>
                        <ion-row class="avatar" align-items-center>
                            <ion-col col-12>
                                <ion-label text-uppercase class="text-white  wnormal">
                                    origin
                                </ion-label>
                                <ion-label text-uppercase class="text-white para wnormal"
                                    *ngIf="searchResult.m == 'arrival'">
                                    {{searchResult.origin}}
                                </ion-label>
                                <ion-label text-uppercase class="text-white para wnormal"
                                    *ngIf="searchResult.m !== 'arrival'">
                                    HYD
                                </ion-label>
                            </ion-col>
                        </ion-row>

                    </ion-col>
                    <ion-col col-6 text-right>
                        <ion-label text-uppercase class="text-white  wnormal">
                            destination
                        </ion-label>
                        <ion-label text-uppercase class="text-white para wnormal" *ngIf="searchResult.m == 'departure'">
                            {{searchResult.dest}}
                        </ion-label>
                        <ion-label text-uppercase class="text-white para wnormal"
                            *ngIf="searchResult.m !== 'departure'">
                            HYD
                        </ion-label>



                    </ion-col>
                </ion-row>
                <ion-row class="rowgroup">
                    <ion-col col-6 no-padding>
                        <ion-row class="avatar" align-items-center>

                            <ion-col col-12>
                                <ion-label class="text-white  wnormal" text-uppercase no-margin>Scheduled</ion-label>
                                <ion-label class="text-white para wnormal">{{searchResult.sch}}</ion-label>

                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <ion-label class="text-white  wnormal" text-uppercase no-margin>ETA</ion-label>
                        <ion-label class="text-white para wnormal">{{searchResult.eta}}</ion-label>

                    </ion-col>
                </ion-row>
                <ion-row class="rowgroup noborder">
                    <ion-col col-6>
                        <ion-label class="wnormal text-white wnormal" text-uppercase>flight</ion-label>
                        <ion-label class="wnormal text-white para wnormal" no-margin>{{searchResult.flNo}}</ion-label>
                    </ion-col>
                    <ion-col col-6>
                        <div class="float-right">
                            <ion-label class="wnormal text-white wnormal" text-uppercase>status</ion-label>
                            <ion-label class="wnormal text-white para wnormal" no-margin>{{searchResult.flStatus}}
                            </ion-label>
                        </div>
                    </ion-col>
                    <!-- <ion-col col-3 text-right>
                <ion-label class="wnormal text-blue small" text-uppercase>gate</ion-label>
                <ion-label class="wnormal text-white para" no-margin>{{searchResult.gate}}</ion-label>
              </ion-col> -->
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>