page-flightstatus {
    // .bar-button-default-md{
    //     color: #fff !important;
    // }
    ion-list.text-white.list.list-md {
        position: relative;
        z-index: 9;
    }
    .head2r {
        font-size: 2rem;
    }
    .prime_logo{
        width:50px;
        height: 50px;
      }
      .posmenu{
        display: block !important;
    }
    .datepicker ion-icon:before {
        position: absolute;
        top: 20px;
        right: 15px;
        font-size: 2rem;
    }
    .select-md .select-icon {
        position: absolute;
        width: 12px;
        height: 19px;
        top: 18px;
        right: 15px;
    }
    .border_input {
        max-height: 50px;
    }
    .searchbar-md .searchbar-search-icon,
    .searchbar-md .searchbar-md-cancel {
        display: none;
    }
    .searchbar-md .searchbar-input {
        padding: 0px;
        text-align: left;
        background: transparent;
        color: #fff;
    }
    .ion-md-calendar::placeholder {
        font-size: 12px;
        color: #fff;
    }
    .datetime-md {
        font-size: 13px;
    }
    .searchbar-input {
        font-size: 14px !important;
        padding: 0px 10px !important;
        color: #fff !important;
    }
    .flSearchBtn {
        background: #A83739;
    }
    .datetime-placeholder,
    .datetime-text {
        color: #fff !important;
    }
    .text-input-md::placeholder {
        color: #fff;
        padding: 0px 7px;
    }
    //From flight details
    .bigtext {
        font-size: 4.8rem;
    }
    .rowgroup {
        border-bottom: 1px solid #3F4458;
    }
    .rowgroup.noborder {
        border-bottom: 0px;
    }
    .dark_bg>ion-col {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .avatar ion-icon {
        font-size: 2.4em;
    }
    .rowgroup .head4 {
        margin: 0px 0px 5px 0px;
    }
    .trackdetail .rowgroup {
        margin: 20px 0px 0px 0px;
    }
    .divider_one:before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0px;
        right: -6px;
        border-left-color: #ccc;
        border-left-style: dotted;
        border-left-width: 4px;
    }
    .divider_one.last:before {
        height: 100%;
        height: calc(100% + (70px));
    }
    .divider_one:after {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #353A50;
        position: absolute;
        top: -3px;
        right: -6px;
    }
    .divider_one.bottom:after {
        top: auto;
        bottom: -73px;
    }
    .divider_pink:before {
        content: "";
        width: 10px;
        height: 100%;
        background: #D054C4;
        border-radius: 10px;
        position: absolute;
        top: -40px;
        right: -8px;
        height: calc(100% + (40px));
    }
    .divider_pink:after {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: -30px;
        right: -6px;
    }
    .divider_blue:before {
        content: "";
        width: 10px;
        height: 100%;
        background: #735AFC;
        border-radius: 10px;
        position: absolute;
        top: -40px;
        right: -8px;
        height: calc(100% + (70px));
    }
    .divider_blue:after {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        bottom: -20px;
        right: -6px;
    }
    .float-right {
        float: right;
    }
    .grid.trackdetail[no-padding]>.row>.col {
        padding: 0px 0px 0px 20px;
    }
    .barcode {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .trimmap {
        max-height: 180px;
        overflow: hidden;
    }
    .label-md {
        margin: 0px;
    }
    .flightRow {
        margin-bottom: 10px;
    }
    .backred {
        background: #a8373a;
    }
}