<ion-content fullscreen>
    <button ion-button clear padding color="dark" (click)="previousPage()" class="alignmiddle mapback">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
  <ion-grid *ngIf="bookingStatus == 'booked'" no-padding no-margin class="trackmap">
    <ion-row no-padding no-margin>
      <ion-col>
        <div #map id="map" text-center align-items-center style="display: flex">
          <!-- <ion-label class="wnormal text-ash head3" no-margin style="align-self: center; height: auto;">Map holder</ion-label> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid no-padding class="trackstatus">
    <ion-row class="dark_bg" padding-left padding-right padding-bottom>
      <ion-col>
        <ion-row class="rowgroup" align-items-center margin-top>
          <ion-col col-8 no-padding>
            <ion-label class="wnormal head3 text-white" no-margin>
              {{bookingStatus == 'booked'?distancetime:''}}
            </ion-label>
          </ion-col>
          <ion-col col-4 text-right no-padding>
            <!-- <button ion-button color="gold" class="para custom-btn btn-small" text-capitalize>Gold Service</button> -->
          </ion-col>
        </ion-row>
        <ion-row class="rowgroup" margin-top>
          <ion-col col-7 no-padding>
            <ion-row class="avatar" align-items-center>
              <ion-col col-3>
                <ion-avatar text-center>
                  <ion-icon name="contact"></ion-icon>
                </ion-avatar>
              </ion-col>
              <ion-col col-9>
                <ion-label class="text-white para wnormal">{{guestName}}</ion-label>
                <!-- <ion-label class="text-grey small wnormal" no-margin>Sales Executive</ion-label> -->
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-5 text-right>
              <a href="tel:+91{{guestPhone}}"><ion-icon name="call"></ion-icon></a>
            <!-- <button ion-button color="darkTwo" class="roundbtn text-grey">
              <ion-icon name="mail"></ion-icon>
            </button> -->
          </ion-col>
        </ion-row>
        <ion-row class="rowgroup border-top" margin-top margin-bottom>
          <ion-col>
            <ion-label class="wnormal text-grey head3" no-margin text-center>{{bookingStatus == 'booked'?'Waiting at pickup point':'Welcome to RGIA'}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding padding-left padding-right class="track_stages" margin-top margin-bottom *ngFor="let item of serviceList">
    <ion-grid class="services_sec" *ngIf="item.title != 'RATING'">
      <ion-row class="rowgroup noborder completed" >
          <ion-col col-2 class="trackline" text-center>
              <img *ngIf="item.key == 'guestReceived'" src="../../assets/imgs/services/rev-guest.png"  />
              <img *ngIf="item.key == 'otpVerified'" src="../../assets/imgs/services/otp.png"  />
              <img *ngIf="item.key == 'porter'" src="../../assets/imgs/services/porter.png"  />
              <img *ngIf="item.key == 'checkIn'" src="../../assets/imgs/services/fd_checkin.png"  />
              <img *ngIf="item.key == 'security'" src="../../assets/imgs/services/fd_security.png" />
              <img *ngIf="item.key == 'serviceCompleted'" src="../../assets/imgs/services/completed.png" />
          </ion-col>
          <ion-col col-7 padding-left>
            <ion-label class="wnormal head4">
              {{item.title}}
            </ion-label>
            </ion-col>
            <ion-col col-3 text-center>
              <ion-label class="status wnormal small"  no-margin>            
                <span class="text-orange" *ngIf="item.checked == 'true'">Completed</span>
                <span class="text-blue" *ngIf="item.checked == 'false'">On Process</span>
              </ion-label>
            </ion-col>
        </ion-row>
      </ion-grid>
  </ion-grid>

  <!-- <ion-grid padding-left padding-right class="bookedservice">
    <ion-row>
      <ion-col>
        <button ion-button class="custom-btn btn-big" color="darkTwo" text-left (click)="nextPage()"><img src="assets/imgs/icons-light-localization.png" />Booked
          Service</button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- <ion-grid no-padding padding-left padding-right class="track_stages" margin-top margin-bottom>
    <ion-row class="rowgroup noborder completed">
      <ion-col col-2 class="trackline" text-center>
        <img src="assets/imgs/status_welcome_two.png" class="start" />
        <img src="assets/imgs/status_welcome_one.png" class="complete" />
        
        <img src="assets/imgs/status_welcome_three.png" class="process" />
        
      </ion-col>
      <ion-col col-7 padding-left>
        <ion-label class="wnormal head4">
          Welcome at Gate 1
        </ion-label>
        <ion-label class="wnormal small text-grey" no-margin>
          Greetings (4 min away)
        </ion-label>
      </ion-col>
      <ion-col col-3 text-center>
        <ion-label class="status wnormal small" no-margin>
          <span class="text-orange">Completed</span>
          <span class="text-blue">On Process</span>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="rowgroup noborder process">
      <ion-col col-2 class="trackline" text-center>
        <img src="assets/imgs/status_fast_two.png" class="start" />
        <img src="assets/imgs/status_fast_one.png" class="complete" />
        <img src="assets/imgs/status_fast_three.png" class="process" />
      </ion-col>
      <ion-col col-7 padding-left>
        <ion-label class="wnormal head4">
          Fast track
        </ion-label>
        <ion-label class="wnormal small text-grey" no-margin>
          Terminal Entry, CISF
        </ion-label>
      </ion-col>
      <ion-col col-3 text-center>
        <ion-label class="status wnormal small" no-margin>
          <span class="text-orange">Completed</span>
          <span class="text-blue">On Process</span>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="rowgroup noborder idle">
      <ion-col col-2 class="trackline" text-center>
        <img src="assets/imgs/status_lounge_two.png" class="start" />
        <img src="assets/imgs/status_lounge_one.png" class="complete" />
        <img src="assets/imgs/status_lounge_three.png" class="process" />
      </ion-col>
      <ion-col col-7 padding-left>
        <ion-label class="wnormal head4">
          Lounge
        </ion-label>
        <ion-label class="wnormal small text-grey" no-margin>
          near swing area
        </ion-label>
      </ion-col>
      <ion-col col-3 text-center>
        <ion-label class="status wnormal small" no-margin>
          <span class="text-orange">Completed</span>
          <span class="text-blue">On Process</span>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="rowgroup noborder idle">
      <ion-col col-2 class="trackline" text-center>
        <img src="assets/imgs/status_boarding_two.png" class="start" />
        <img src="assets/imgs/status_boarding_one.png" class="complete" />
        <img src="assets/imgs/status_boarding_three.png" class="process" />
      </ion-col>
      <ion-col col-7 padding-left>
        <ion-label class="wnormal head4">
          Boarding gate
        </ion-label>
        <ion-label class="wnormal small text-grey" no-margin>
          Walk 100m
        </ion-label>
      </ion-col>
      <ion-col col-3 text-center>
        <ion-label class="status wnormal small" no-margin>
          <span class="text-orange">Completed</span>
          <span class="text-blue">On Process</span>
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-grid> -->
</ion-content>