<ion-header class="dark_header">

  <ion-navbar hideBackButton>
      <button left show persistent="true"  menuToggle class="no-background posmenu" >
          <img src="assets/imgs/icons-dark-menu-on.png" />
          
          </button>
          <ion-title text-center class="text-white">Dashboard</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content class="dark_bg2" no-padding>
<ion-grid>
  <ion-row>
    <ion-col col-6>
      <ion-row class="status_grid border-radius" no-margin no-padding>
        <ion-col col-12 no-padding>
          <ion-label class="wnormal text-black statushead" text-center no-margin text-uppercase>
            Executive status
          </ion-label>
        </ion-col>
        <ion-col col-12 no-padding>
          <ion-row class="status_row text-black" align-items-center text-center no-margin no-padding>
            <ion-col col-3>
                <ion-icon class="head2" name="people"></ion-icon>
            </ion-col>
            <ion-col col-3>
                <ion-label class="wnormal head2" no-margin>6</ion-label>
            </ion-col>
            <ion-col col-6>
              <ion-label class="wnormal statusname" text-capitalize no-margin text-left>total executive</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="status_row text-black" align-items-center text-center no-margin no-padding>
              <ion-col col-3>
                  <ion-icon class="head2 text-blue" name="people"></ion-icon>
              </ion-col>
              <ion-col col-3>
                  <ion-label class="wnormal head2 text-blue" no-margin>04</ion-label>
              </ion-col>
              <ion-col col-6>
                <ion-label class="wnormal statusname" text-capitalize no-margin text-left>available executive</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="status_row text-black" align-items-center text-center no-margin no-padding>
                <ion-col col-3>
                    <ion-icon class="head2" name="people"></ion-icon>
                </ion-col>
                <ion-col col-3>
                    <ion-label class="wnormal head2" no-margin>02</ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label class="wnormal statusname" text-capitalize no-margin text-left>allocated executive</ion-label>
                </ion-col>
              </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-6>
        <ion-row class="status_grid border-radius" no-margin no-padding>
          <ion-col col-12 no-padding>
            <ion-label class="wnormal text-black statushead" text-center no-margin text-uppercase>
              customer status
            </ion-label>
          </ion-col>
          <ion-col col-12 no-padding>
            <ion-row class="status_row text-black" align-items-center text-center no-margin no-padding>
              <ion-col col-3>
                  <ion-icon class="head2" name="people"></ion-icon>
              </ion-col>
              <ion-col col-3>
                  <ion-label class="wnormal head2" no-margin>10</ion-label>
              </ion-col>
              <ion-col col-6>
                <ion-label class="wnormal statusname" text-capitalize no-margin text-left>total customer</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="status_row text-black" align-items-center text-center no-margin no-padding>
                <ion-col col-3>
                    <ion-icon class="head2 text-blue" name="people"></ion-icon>
                </ion-col>
                <ion-col col-3>
                    <ion-label class="wnormal head2 text-blue" no-margin>01</ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label class="wnormal statusname" text-capitalize no-margin text-left>new customer</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="status_row text-black" align-items-center text-center no-margin no-padding>
                  <ion-col col-3>
                      <ion-icon class="head2" name="people"></ion-icon>
                  </ion-col>
                  <ion-col col-3>
                      <ion-label class="wnormal head2" no-margin>02</ion-label>
                  </ion-col>
                  <ion-col col-6>
                    <ion-label class="wnormal statusname" text-capitalize no-margin text-left>allocated customer</ion-label>
                  </ion-col>
                </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-row>
  <ion-col>
      <button ion-button color="primary" text-uppercase padding class="custom-btn" (click)="gotonext()">
          slot status
        </button>
  </ion-col>
</ion-row>
<ion-grid>
    <ion-row align-items-center text-center class="dategrid">
      <ion-col>
        <label class="wnormal para text-dim" no-margin>Calendar space</label>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-grid padding>
  <ion-row class="grl_db_box border-radius" text-center no-margin>
    <ion-col col-6>
      <ion-label class="ico_num wnormal" no-margin>
          <span class="alignmiddle">
              <ion-icon name="people" class="alignmiddle"></ion-icon>
            </span>
        <span class="alignmiddle">
          02
        </span>
      </ion-label>
      <ion-label class="txt" no-margin>
        Allocated Executive
      </ion-label>
    </ion-col>
    <ion-col col-6 class="makedark">
        <ion-label class="ico_num wnormal" no-margin>
            <span class="alignmiddle">
                <ion-icon name="people" class="alignmiddle"></ion-icon>
              </span>
          <span class="alignmiddle">
            04
          </span>
        </ion-label>
        <ion-label class="txt" no-margin>
          Available Executive
        </ion-label>
      </ion-col>      
  </ion-row>
  <ion-row class="grl_db_box border-radius" text-center no-margin margin-top>
      <ion-col col-6>
        <ion-label class="ico_num wnormal" no-margin>
            <span class="alignmiddle">
                <ion-icon name="people" class="alignmiddle"></ion-icon>
              </span>
          <span class="alignmiddle">
            02
          </span>
        </ion-label>
        <ion-label class="txt" no-margin>
          Allocated Executive
        </ion-label>
      </ion-col>
      <ion-col col-6 class="makepink">
          <ion-label class="ico_num wnormal" no-margin>
              <span class="alignmiddle">
                  <ion-icon name="people" class="alignmiddle"></ion-icon>
                </span>
            <span class="alignmiddle">
              01
            </span>
          </ion-label>
          <ion-label class="txt" no-margin>
            Pending Slot
          </ion-label>
        </ion-col>      
    </ion-row>
</ion-grid>
</ion-content>
