page-grl-dashboard {
    .dark_bg2{
        background: #242639;
    }
    .status_grid{
        background: #fff;
    }
    .statushead{
        padding: 10px;
        font-weight: bold;
        background: #F6F7F7;
        font-size: 1.3rem;
    }
    .statusname{
        font-size: 1.1rem;
    }
    .status_row{
        padding: 5px 0px;
        border-bottom: 1px solid #ccc;
    }
    .dategrid{
        background: #292D40;
        min-height: 100px;
    }
    .grl_db_box{
        background: #fff;
        color: #8592AD;
        padding: 10px 10px;
    }
    .grl_db_box .ico_num{
        font-size: 3rem;
    }
    .grl_db_box .ico_num span{display: inline-block;}
    .grl_db_box .makedark{       
        color: #665EFF;       
    }
    .grl_db_box .makedark .txt{       
        color: #000;       
    }
    .grl_db_box .makepink{       
        color: #C840E9;       
    }
    .grl_db_box .makepink .txt{       
        color: #000;       
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
    }
    /* ios */
    .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #fff;
    }
}
