page-mg-login {
    .big {
        font-size: 3rem;
    }
    .dark_bg {
        background: #1E4679;
    }
    .whole_Center .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prime_logo {
        display: block;
        margin: auto;
    }
    .login_sec {
        background: #E5E7E7;
        width: 90%;
        margin: auto;
        padding: 5%;
        border-radius: 8px;
        box-shadow: -1px 5px 13px 0px #0000008f;
    }
    .clr_red {
        color: #1E4679;
    }
    .border_input {
        background: #E5E7E7;
        border-radius: 10px;
        border: 1px solid #ccc !important;
    }
    .border_input input {
        color: #000;
    }
    .login-butt {
        background: #FDA804;
        color: #000;
    }
    .prime_logo {
        background: transparent;
        width: 120px;
        height: 120px;
        margin: 20px auto;
    }
    .align-item {
        margin-top: 0px !important;
        border-bottom: 0px !important;
    }
    @media screen and (min-width: 600px) {
        .segment-md .segment-button {
            font-size: 2.5rem;
        }
        .toolbar-title-md {
            font-size: 2.5rem;
        }
        .img-align {
            width: 35px !important;
        }
        .form_group {
            min-height: 70px;
        }
        .segment-md ion-label {
            padding: 35px 0px 0px 0px;
        }
        ion-grid {
            font-size: 20px;
        }
        .searchbar-md .searchbar-input {
            font-size: 20px;
        }
        .custom-btn {
            height: 5rem;
        }
        .datepicker ion-icon:before {
            font-size: 2.5rem;
        }
        .button-md {
            font-size: 2.1rem;
        }
    }
}