<ion-content padding class="dark_bg whole_Center">
    <ion-grid>
        <myngx-spinner></myngx-spinner>
        <ion-img class="prime_logo" src="../../assets/imgs/logo-prime-glow.png"></ion-img>

        <div class="login_sec">
            <!-- <form (ngSubmit)="login()"> -->

            <ion-label class="big wnormal" text-center no-margin margin-top>

                <span class="clr_red"> GMR PRIME </span>- SUPPORT
            </ion-label>
            <!-- <ion-label class="text-dim para wnormal" no-margin text-center margin-top>
        GRO - Lorem ipsum is simply dummy text of priting and typesetting industry.
      </ion-label> -->
            <ion-row margin-top class="border_input text-white">
                <ion-col justify-content-center>
                    <ion-item no-padding no-margin class="align-item">
                        <!-- formControlName="email" -->
                        <ion-input text-left placeholder="Email" [(ngModel)]="email" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row margin-top class="border_input text-white">
                <ion-col justify-content-center>
                    <ion-item no-padding no-margin class="align-item">
                        <!-- formControlName="password" -->
                        <ion-input text-left placeholder="Password" [(ngModel)]="password" type="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row margin-top justify-content-center text-center>
                <ion-col>
                    <!-- <div class="form-error" style="color: red;">{{loginError}}</div> -->
                    <!-- [disabled]="!loginForm.valid" -->
                    <button ion-button color="primary" (click)="login()" text-uppercase padding
                        class="custom-btn login-butt">
                        login</button>
                </ion-col>
            </ion-row>
            <!-- </form> -->
            <ion-row justify-content-center text-center>
                <ion-col>
                    <button (click)="_toOpen()" ion-button clear text-capitalize no-padding class="text-dim"
                        float-right>
                        forgot password?
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>