page-mg-login .big {
  font-size: 3rem;
}

page-mg-login .dark_bg {
  background: #1E4679;
}

page-mg-login .whole_Center .scroll-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

page-mg-login .prime_logo {
  display: block;
  margin: auto;
}

page-mg-login .login_sec {
  background: #E5E7E7;
  width: 90%;
  margin: auto;
  padding: 5%;
  border-radius: 8px;
  -webkit-box-shadow: -1px 5px 13px 0px #0000008f;
          box-shadow: -1px 5px 13px 0px #0000008f;
}

page-mg-login .clr_red {
  color: #982736;
}

page-mg-login .border_input {
  background: #E5E7E7;
  border-radius: 10px;
  border: 1px solid #ccc !important;
}

page-mg-login .border_input input {
  color: #000;
}

page-mg-login .login-butt {
  background: #FDA804;
  color: #000;
}

page-mg-login .prime_logo {
  background: transparent;
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

@media screen and (min-width: 600px) {
  page-mg-login .segment-md .segment-button {
    font-size: 2.5rem;
  }
  page-mg-login .toolbar-title-md {
    font-size: 2.5rem;
  }
  page-mg-login .img-align {
    width: 35px !important;
  }
  page-mg-login .form_group {
    min-height: 70px;
  }
  page-mg-login .segment-md ion-label {
    padding: 35px 0px 0px 0px;
  }
  page-mg-login ion-grid {
    font-size: 20px;
  }
  page-mg-login .searchbar-md .searchbar-input {
    font-size: 20px;
  }
  page-mg-login .custom-btn {
    height: 5rem;
  }
  page-mg-login .datepicker ion-icon:before {
    font-size: 2.5rem;
  }
  page-mg-login .button-md {
    font-size: 2.1rem;
  }
}
/*# sourceMappingURL=mg-login.css.map */