page-otp {
    .big{
        font-size: 3rem;
    }
    .selectNumber {
        margin: auto;
        border-radius: 11px;
        color: #fff !important;
        border: 1px solid #fff;
    }
    .select-md .select-icon {
        right: 10px;
        color: #fff !important;
    }    
    .select-md .select-icon .select-icon-inner{
        color:#fff;
        
    }
    .formotp{
        width:75%;
        margin: auto;
    }
    .clrWhite{
        color: #fff;
    }
    .w-60{
        width: 60%;
    }
}
