<ion-header>

  <ion-navbar>
    <ion-title text-center>OTP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dark_bg">
  <myngx-spinner></myngx-spinner>
  <form [formGroup]="otpForm">
      <ion-label class="clrWhite" text-center>
          Welcome {{groName}}
        </ion-label>
      <ion-row margin-top justify-content-center text-center>
          <ion-col col-6>
            <ion-select  interface="popover"  class="selectNumber"formControlName="mob_number" (ionChange)="mobileSelected()" [(ngModel)]="mobileNo" placeholder="Mobile Number">
              <ion-option *ngFor="let list of grList;" [value]="list">{{list}}</ion-option>
            </ion-select>
          </ion-col>
          <ion-col col-6>
            <button ion-button (click)="sendOtp()" color="primary" text-uppercase padding class="w-60 custom-btn" [disabled]="isOTPSent">
              Send OTP</button>
          </ion-col>
      </ion-row>
    <ion-label class="text-dim para wnormal clrWhite" no-margin text-center margin-top>
      Your email id has been associated with a mobile number. Please enter the OTP sent to this mobile number, here!
    </ion-label>
    <div class="formotp">
    <ion-row margin-top class="border_input text-white">
      <ion-col justify-content-center>
        <ion-input text-center class="text-white" maxLength="4" placeholder="OTP" formControlName="otp" type="tel" [disabled]="!isOTPSent"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row margin-top justify-content-center text-center>
        <ion-col col-6>
          <!-- <div class="form-error" style="color: red;">{{error}}</div> -->
          <button ion-button color="primary" (click)="verifyOtp()" text-uppercase padding class="custom-btn"
            [disabled]="!isOTPSent || !otpForm.valid">
            Verify OTP</button>
        </ion-col>
      </ion-row>
    <ion-row margin-top justify-content-center text-center>
      <ion-col col-6>
        <button ion-button (click)="resendOtp()" color="primary" text-uppercase padding class="custom-btn" [disabled]="!isOTPSent">
          Resend OTP</button>
      </ion-col>
    </ion-row>
 
  </div>
  </form>
</ion-content>