page-reports {
    .roundbtn_icon{
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    .dark_bg2{
        background: #242639;
    }
    .dro_grid{
        background: #242639;
        border-radius: 10px;
        margin-bottom: 15px;
        border: 1px solid #78849E;
    }
    .dro_grid>.dro_head{
        padding: 6px 10px;
        border-bottom: 1px solid #353A50
    }
    .dro_grid>.dro_head .head4{
        color: #fff;
    }
    .dro_grid>.dro_rowtwo{
        padding: 6px 16px;
    }
    .dro_grid>.dro_rowtwo .name{
        color: #fff;
    }
    .dro_grid>.dro_rowtwo [col-6]{
        line-height: 18px;
    }
    .dro_grid>.dro_rowtwo [col-6] .head4{
        color: #fff;
    }
    .dro_grid>.dro_rowtwo .avatar [col-9]{
        line-height: 18px;
    }
    .avatar ion-icon {
        font-size: 2.4em;
    }
    .dro_grid>.dro_rowthree{
        padding: 6px 16px;
    }
    .dro_grid .values{
        margin-top: 5px;
    }
    .dro_grid>.dro_rowthree .valuewhite{
        color: #fff;
    }
    .timer{text-align: right};
    .startservice{display: none;}
    .dro_grid>.dro_rowfour{
        padding: 6px 16px;
    }
    .dro_grid.active{
        background: #fff;
    }
    .dro_grid.active>.dro_head{
        padding: 6px 10px;
        border-bottom: 1px solid #eee
    }
    .dro_grid.active>.dro_head .head4{
        color: #222;
    }
    .dro_grid.active>.dro_rowtwo .name{
        color: #222;
    }
    .dro_grid.active>.dro_rowtwo [col-6] .head4{
        color: #222;
    }
    .dro_grid.active>.dro_rowthree .valuewhite{
        color: #222;
    }
    .dro_grid.active .timer{
        display: none;
    }
    .dro_grid.active .startservice{
        text-align: left;
        display: block;
    }
    .alignbottom{
        vertical-align: bottom;
        line-height: 18px;
    }
    .dro_grid.active>ion-row{
        border-bottom: 1px solid #eee;
    }
    .dro_grid.active>ion-row:last-child{
        border-bottom: 0px;
    }
    .posmenu{
        display: block !important;
    }
    .dategrid{
        background: #292D40;
        min-height: 100px;
    }
    .dark_bg3{
        background: #2A2D42;
    }
    ion-header{
        border-bottom: 1px solid #78849E;
    }
    .wifiico{
        position: absolute;
    bottom: 5px;
    right: 0px;
    }
}
