<ion-header>

  <ion-navbar>
    <ion-title text-center> Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dark_bg">
  <myngx-spinner></myngx-spinner>
<form (ngSubmit)="changePwd()" [formGroup]="changePwdForm">
  <!-- <ion-label class="text-white big wnormal" text-center no-margin margin-top>
    Change Password
  </ion-label> -->
  <ion-label class="text-dim para wnormal" no-margin text-center margin-top>
    Change Your Password
  </ion-label>
  <ion-row margin-top class="border_input text-white">
    <ion-col justify-content-center>
      <ion-input text-left class="text-white" placeholder="Password" formControlName="password" type="password"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row margin-top justify-content-center text-center>
    <ion-col>
      <div class="form-error" style="color: red;">{{error}}</div>
      <button ion-button color="primary" text-uppercase padding class="custom-btn" [disabled]="!changePwdForm.valid">
        Submit</button>
    </ion-col>
  </ion-row>
</form>
</ion-content>