<ion-menu [content]="content" persistent="true">

  <ion-header class="menu_header">
    <ion-toolbar color="secondary" class="menu_header">
      <ion-row align-items-center>
         
        <ion-col col-12>
          <!-- <ion-label class="wnormal head3 text-white" text-capitalize no-margin>{{name}}</ion-label>
          <ion-label class="text-grey-dark" no-margin>
              {{email}}
          </ion-label> -->
          <img  class="prime_logo"  src="../../assets/imgs/gmr_profile.png"  />
          <p class="wel_txt">{{name}}</p>
        </ion-col>
      </ion-row>
      <!-- <ion-fab right bottom>
        <button ion-button color="primary" class="btn-small" text-capitalize (click)="GoToSignIn()">Sign In</button>
      </ion-fab> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-margin margin-top no-padding class="menulist" *ngFor="let menulist of menuitem, let i=index">
      <button class="head4" menuClose text-capitalize ion-item (click)="openPage(menulist.component,i)" no-lines>
        <img src={{menulist.icon}} item-left />
        {{menulist.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="secondary" class="menu_footer" no-padding>
      <ion-list no-margin no-padding class="menulist">
        <button menuClose (click)="logOut()" class="head4" text-capitalize ion-item no-lines>
          <img src="../assets/imgs/grey-icon-logout.png" item-left />
          Logout
        </button>
      </ion-list>
    </ion-toolbar>
  </ion-footer>
</ion-menu>




<ion-nav [root]="rootPage" #content swipeBackEnabled="false" swipeEnable="false"></ion-nav>
