// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.wnormal{white-space: normal;}
.alignmiddle{vertical-align: middle;}
.text-white{color: #fff;}
.text-light-white{ color: rgba(255,255,255,0.8);}
.text-ash{color: #454F63;}
.text-blue{color: #665EFF;}
.text-black{color: #2A2E43;}
.text-grey{ color: #78849E;}
.text-grey-dark{color: #989BA7;}
.text-orange{color: #FF9057;}
.text-dim{color: #8B8D99;}
.text-yellow{color: #FFB900;}
.para{font-size: 1.3rem;}
.small{font-size: 1.1rem;}
.head4{font-size: 1.5rem;}
.head3{font-size: 1.8rem;}
.head2{font-size: 2rem;}
.head1{font-size: 2.3rem;}
.big{font-size: 2.5rem;}
.text-white .toolbar-title-md{color: #fff;}
.custom-btn{
    width: 100%;
    height: 4rem;
    border-radius: 10px;
}
.btn-small{ height: 3.2rem;}
.btn-big{height: 5rem;}
.appbg{background: #F5F5F7;}
.toolbar-background-md {
    border-color: #FBFCFC;
    background: #FBFCFC;
}
.white_header .toolbar-background-md {
    border-color: #fff;
    background: #fff;
}
.dark_header .toolbar-background-md {
    border-color: #1E4679;
    background: #1E4679;
}
.dark_bg2 .toolbar-background-md {
    border-color: #1E4679;
    background: #1E4679;
}
.dark_footer .toolbar-background-md {    
    border-top: 5px solid #3ACCE1;
    background: #1E4679;
    border-radius: 6px 6px 0px 0px;
}
.no-background{background: transparent;}
.no-background .toolbar-background{background: transparent;}
.header-md.no-background::after{background: transparent;}
.form_group{background: #fff; border-radius: 10px; overflow: hidden; min-height: 50px;}
.blue_bg{
    background: #655DFE;
    border-radius: 0px 0px 10px 10px;
}
.dark_bg{
    background:#1E4679;
}
.white_bg{
    background:#fff;
}
.back-button.show-back-button {
    position: absolute;
    z-index: 1;
}
.border-radius{border-radius: 10px; overflow: hidden;}
.auto_height{height: auto !important;}
.border_input
{
background: #454F63;
border-radius: 10px;
}
.input_white
{
background: #fff;
border-radius: 10px;
}
.notvalidborder{border: 1px solid red;}
.roundbtn{
    border-radius: 50%;
    height: auto;
    padding: 6px 8px;
}
.menu_header .toolbar-md{
    min-height: 150px;
}
.menu_header .toolbar-background-md
{
    background: #1e4679;
    background-size: cover;
    padding: 0px 0px 0px 40px;
}
.menu_header.header-md::after{
    background: url("../assets/imgs/gradient.png ") no-repeat;
    bottom: -10px;
    height: 10px;
    background-size: 100%;
}
.menu_profile
{
    width: 70px;
    height: 70px;
    border-radius: 10px
}
.submenuIcon
{
    vertical-align: middle;
    margin-left: 10px;
}
.menulist .item-md{
    padding-left: 40px;
}
.menulist .submenus.open{
    background: #F6F6F6;
    padding: 10px 10px 10px 60px;
}
.posback {
    position: absolute;
    top: 7px;
    left: 5px;
    font-size: 1.8rem;
    z-index: 2;
}
.posmenu{position: absolute; z-index: 2;}
.toolbar-md-secondary.menu_footer .toolbar-background-md {
    background: #fff;
}
.modal-rating .modal-wrapper{
    width: 90%;
    height: 300px !important;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
}
.modal-otp .modal-wrapper{
    width: 90%;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
}
ion-modal ion-backdrop{
    visibility: visible;
}
ion-backdrop{
    background-color: #fff;
}
.prime_logo{
    display: block;
    margin: auto;
}
.wel_txt{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.pauseService .modal-wrapper {
        position: absolute;
        display: block;
        width: 100% !important;
        height: 350px !important;
      } 
      .pauseService .modal-wrapper .item-select, .pauseService .modal-wrapper .item-textarea {
        border: 1px solid #1E4679;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .pauseService .modal-wrapper  textarea{
        resize: none !important;

    }
    ion-navbar .bar-buttons,ion-navbar .back-button  {
        padding: 20px 40px;
    }
    ion-segment-button.segment-button {
        height: auto !important;
        padding: 13px 0px !important;
    }