<ion-content class='dark_bg'>
  <ion-grid class="dark_bg2" padding>
    <button ion-button text-white class="modalclose" no-padding>
      <ion-icon name="close-circle" (click)="closeModal()"></ion-icon>
    </button>
    <ion-row>
      <ion-col text-center>
        <ion-label class="wnormal head3 text-white" no-margin>Service Completed</ion-label>
        <ion-label class="wnormal para text-dim" no-margin>Please enter your review about the customer</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <!-- <ion-row>
      <ion-col text-center>

        <img src="assets/imgs/profile.png" class="imgsize">

        <ion-label class="text-white" no-margin no-padding>
          Stalin
        </ion-label>
        <ion-label class="text-grey" no-margin margin-bottom no-padding>
          Service Executive
        </ion-label>
      </ion-col>
    </ion-row> -->
    <ion-row *ngFor="let rte of rateDes, let i=index" class="row_border" padding-bottom>
      <ion-col text-center>
        <ion-label class="text-grey">
          {{rte.name}}
        </ion-label>
        <rating [(ngModel)]="rate[i]" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
          starIconName="star" nullable="false">
        </rating>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="descr" margin-left margin-right>
      <ion-col>
        <ion-textarea [(ngModel)]="msg" class="text-white" placeholder="Write your Opinion (Optional)" maxLength="100"></ion-textarea>
      </ion-col>
    </ion-row> -->
    <ion-row margin-top justify-content-center text-center padding-left padding-right padding-bottom>
      <ion-col>
        <button ion-button color="bluebutton" text-uppercase padding class="custom-btn text-black" (click)="submitRating()">
          submit rating</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>