page-rating-service {
    .dark_bg2{
        background: #242639;
    }
    ul {
        padding: 0px;
        margin: 0px;
       
        &.rating li {
          padding: 3px 3px !important;
          background: none;
          color: #ffb400;
       
          ion-icon {
            font-size: 25px;
          }
        }
      }
      .row_border
      {
        border-top: 0.01rem solid #ccc;
      }
     .imgsize
     {
       width: 100px;
       height: 100px;
     }
     .descr
     {
       border: 1px solid #464E63;
       background: #464E63;
       border-radius: 10px;
       height: 100px;
     }
     .headerrating{
       background: #222536;
     }
     .modalclose{
      width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
  background: transparent;
  box-shadow: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 3;
  }

}
