<ion-header class="dark_header">

  <ion-navbar hideBackButton>
    <button left show persistent="true" menuToggle class="no-background posmenu">
      <img src="assets/imgs/icons-dark-menu-on.png" />

    </button>
    <ion-title text-center class="text-white">
      <img class="prime_logo" src="../../assets/imgs/gmr_profile.png" />
      SLOT DETAILS</ion-title>

  </ion-navbar>

</ion-header>

<ion-content class="dark_bg2" no-padding>

  <ion-grid>
    <ion-segment [(ngModel)]="slots_overview">
      <!-- <ion-segment-button value="{{'scheduledSlots'+gro.uid}}" class="cardInfo" style="background:#fffde7; color:black; opacity:1"></ion-segment-button> -->
      <ion-segment-button value="scheduledSlots" class="cardInfo" style="background:#fffde7; color:black; opacity:1">
        Scheduled
      </ion-segment-button>
      <ion-segment-button value="inProgressSlots" class="cardInfo" style="background:#4dd0e1; color:black; opacity:1">
        In Progress
      </ion-segment-button>
      <ion-segment-button value="completedSlots" class="cardInfo" style="background:#4caf50; color:black; opacity:1">
        Completed
      </ion-segment-button>
    </ion-segment>

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <div [ngSwitch]="slots_overview">

      <!-- <ion-list *ngSwitchCase="'scheduledSlots'+gro.uid"> -->
      <ion-list *ngSwitchCase="'scheduledSlots'" style="padding:12px;">

        <ion-grid no-padding *ngFor="let item of slotsList; let j=index;">
          <ion-grid class="scheduledCard" style="border: 2px solid; margin-top:2px" padding-bottom
            *ngIf="item.status === 'booked'">
            <ion-row align-items-center style="color:white">
              <ion-col no-padding col-10>
                <ion-label class="name para">{{item.slotInfo.slotTimeLabel1}}</ion-label>
                <ion-label class="name para">{{item.bookingID}}</ion-label>
                <ion-label class="subPara" text-uppercase>{{item.service}}</ion-label>
              </ion-col>
              <ion-col no-padding col-2 text-right (click)="toggleSlot(j)" [ngClass]="{active: isSlotShown(j)}">
                <button ion-button color="brown">
                  <ion-icon color="success" item-right [name]="isSlotShown(j) ? 'arrow-dropdown' : 'arrow-dropright'"
                    style="float: right;"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-grid *ngIf="isSlotShown(j)">
              <ion-row class="dro_rowtwo" style="color: white" align-items-center *ngIf="item.slotInfo.groInfo">
                <ion-col col-6 style="color:white">
                  <span text-uppercase>Allocated To {{item.slotInfo.groInfo.name}}</span>
                </ion-col>
                <ion-col no-padding col-6>
                  <button ion-button color="primary" text-uppercase (click)="reAllocateSlot(item)" small>Re Allocate
                    Slot</button>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowtwo" style="color: white" align-items-center *ngIf="!item.slotInfo.groInfo">
                <ion-col no-padding>
                  <button ion-button color="primary" text-uppercase (click)="allocateSlot(item)" small>Allocate
                    Slot</button>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowtwo" align-items-center>
                <ion-col col-6 no-padding>
                  <ion-row class="avatar" align-items-center>
                    <ion-col col-12 no-padding>
                      <ion-label class="name para wnormal" no-margin>{{item.guestInfo.guestInfo[0].firstName}}
                        {{item.guestInfo.guestInfo[0].lastName}} - <a
                          href="tel:+91{{item.receiptMobile}}">{{item.receiptMobile}}</a></ion-label>
                      <span
                        *ngIf="(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) > 1">
                        +
                        {{(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) - 1}}
                        pax</span>
                      <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='en'">Language: English
                      </ion-label>
                      <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='tl'">Language: Telugu
                      </ion-label>
                      <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='hi'">Language: Hindi
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col col-6 style="color:white">
                  <span text-uppercase>OTP {{item.serviceOTP}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    Flight detail
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.flInfo.flNo}}
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.flInfo.origin}} - {{item.flInfo.dest}}
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    Flight date & time
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.flInfo.flTimeLabel1}} - {{item.flInfo.flTimeLabel2}}
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    service date & time
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.slotInfo.slotTimeLabel1}} - {{item.slotInfo.slotTimeLabel2}}
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-row>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        Adult
                      </ion-label>
                      <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                        {{item.guestInfo.adultCount}}
                      </ion-label>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        Child
                      </ion-label>
                      <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                        {{item.guestInfo.childcount}}
                      </ion-label>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        Infant
                      </ion-label>
                      <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                        {{item.guestInfo.infantcount}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    plan & package details
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.pkgInfo.pkgName}}
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.pkgInfo.pkgPlan}}
                  </ion-label>
                </ion-col>
                <ion-col col-6 justify-content-center>
                  <ion-row>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        PORTER
                      </ion-label>
                      <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                        *ngIf="item.addOnDetails && item.addOnDetails.includes('porter service')"></ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable" *ngIf="!item.addOnDetails">
                      </ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                        *ngIf="item.addOnDetails && !item.addOnDetails.includes('porter service')"></ion-icon>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        lounge
                      </ion-label>
                      <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                        *ngIf="item.addOnDetails && item.addOnDetails.includes('lounge')"></ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable" *ngIf="!item.addOnDetails">
                      </ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                        *ngIf="item.addOnDetails && !item.addOnDetails.includes('lounge')"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6 *ngIf="item.placardDetails">
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    Special mention
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.placardDetails.msg?item.placardDetails.msg:"-"}}
                  </ion-label>
                </ion-col>
                <ion-col col-6 justify-content-center>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    PNR No
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.guestInfo.guestInfo[0].pnrNo}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-grid>
        </ion-grid>
        <ion-grid>
        </ion-grid>

      </ion-list>

      <ion-list *ngSwitchCase="'inProgressSlots'">
        <ion-grid no-padding *ngFor="let item of slotsList; let j=index;">
          <ion-grid class="scheduledCard" style="border: 2px solid; margin-top:2px" padding-bottom
            *ngIf="item.status === 'started'">
            <ion-row align-items-center style="color:white">
              <ion-col no-padding col-10>
                <ion-label class="name para">{{item.slotInfo.slotTimeLabel1}}</ion-label>
                <ion-label class="name para">{{item.bookingID}}</ion-label>
                <ion-label class="subPara" text-uppercase>{{item.service}}</ion-label>
              </ion-col>
              <ion-col no-padding col-2 text-right (click)="toggleSlot(j)" [ngClass]="{active: isSlotShown(j)}">
                <button ion-button color="brown">
                  <ion-icon color="success" item-right [name]="isSlotShown(j) ? 'arrow-dropdown' : 'arrow-dropright'"
                    style="float: right;"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-grid *ngIf="isSlotShown(j)">
              <ion-row class="dro_rowtwo" style="color: white" align-items-center>
                <ion-col col-6 style="color:white">
                  <span text-uppercase>Allocated To {{item.slotInfo.groInfo.name}}</span>
                </ion-col>
                <ion-col no-padding col-6>
                  <button ion-button color="primary" *ngIf="item.service == 'departure'"
                    [disabled]="item.serviceStart?false:true" text-uppercase class="custom-btn yellowButton"
                    (click)="trackGuest(item.status,item.serviceList,item.bookingID,item.guestInfo.guestInfo[0].firstName,item.guestInfo.guestInfo[0].lastName,item.guestInfo.guestInfo[0].mobileNumber)"
                    small>{{item.serviceStart? 'Service Started' : ''}}</button>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowtwo" align-items-center>
                <ion-col col-6 no-padding>
                  <ion-row class="avatar" align-items-center>
                    <ion-col col-12 no-padding>
                      <ion-label class="name para wnormal" no-margin>{{item.guestInfo.guestInfo[0].firstName}}
                        {{item.guestInfo.guestInfo[0].lastName}} - <a
                          href="tel:+91{{item.receiptMobile}}">{{item.receiptMobile}}</a></ion-label>
                      <span
                        *ngIf="(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) > 1">
                        +
                        {{(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) - 1}}
                        pax</span>
                      <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='en'">Language: English
                      </ion-label>
                      <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='tl'">Language: Telugu
                      </ion-label>
                      <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='hi'">Language: Hindi
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col col-6 style="color:white">
                  <span text-uppercase>OTP {{item.serviceOTP}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    Flight detail
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.flInfo.flNo}}
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.flInfo.origin}} - {{item.flInfo.dest}}
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    Flight date & time
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.flInfo.flTimeLabel1}} - {{item.flInfo.flTimeLabel2}}
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    service date & time
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.slotInfo.slotTimeLabel1}} - {{item.slotInfo.slotTimeLabel2}}
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-row>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        Adult
                      </ion-label>
                      <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                        {{item.guestInfo.adultCount}}
                      </ion-label>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        Child
                      </ion-label>
                      <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                        {{item.guestInfo.childcount}}
                      </ion-label>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        Infant
                      </ion-label>
                      <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                        {{item.guestInfo.infantcount}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    plan & package details
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.pkgInfo.pkgName}}
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.pkgInfo.pkgPlan}}
                  </ion-label>
                </ion-col>
                <ion-col col-6 justify-content-center>
                  <ion-row>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        PORTER
                      </ion-label>
                      <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                        *ngIf="item.addOnDetails && item.addOnDetails.includes('porter service')"></ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable" *ngIf="!item.addOnDetails">
                      </ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                        *ngIf="item.addOnDetails && !item.addOnDetails.includes('porter service')"></ion-icon>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        lounge
                      </ion-label>
                      <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                        *ngIf="item.addOnDetails && item.addOnDetails.includes('lounge')"></ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable" *ngIf="!item.addOnDetails">
                      </ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                        *ngIf="item.addOnDetails && !item.addOnDetails.includes('lounge')"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6 *ngIf="item.placardDetails">
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    Special mention
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.placardDetails.msg?item.placardDetails.msg:"-"}}
                  </ion-label>
                </ion-col>
                <ion-col col-6 justify-content-center>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    PNR No
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.guestInfo.guestInfo[0].pnrNo}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-grid>
        </ion-grid>
      </ion-list>

      <ion-list *ngSwitchCase="'completedSlots'">
        <ion-grid no-padding *ngFor="let item of slotsList; let j=index;">
          <ion-grid class="scheduledCard" style="border: 2px solid; margin-top:2px" padding-bottom
            *ngIf="item.status === 'completed'">
            <ion-row align-items-center style="color:white">
              <ion-col no-padding col-10>
                <ion-label class="name para">{{item.slotInfo.slotTimeLabel1}}</ion-label>
                <ion-label class="name para">{{item.bookingID}}</ion-label>
                <ion-label class="subPara" text-uppercase>{{item.service}}</ion-label>
              </ion-col>
              <ion-col no-padding col-2 text-right (click)="toggleSlot(j)" [ngClass]="{active: isSlotShown(j)}">
                <button ion-button color="brown">
                  <ion-icon color="success" item-right [name]="isSlotShown(j) ? 'arrow-dropdown' : 'arrow-dropright'"
                    style="float: right;"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-grid *ngIf="isSlotShown(j)">
              <ion-row class="dro_rowtwo" style="color: white" align-items-center>
                <ion-col col-6 style="color:white">
                  <span text-uppercase>Allocated To {{item.slotInfo.groInfo.name}}</span>
                </ion-col>
                <ion-col no-padding col-6>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowtwo" align-items-center>
                <ion-col col-6 no-padding>
                  <ion-row class="avatar" align-items-center>
                    <ion-col col-12 no-padding>
                      <ion-label class="name para wnormal" no-margin>{{item.guestInfo.guestInfo[0].firstName}}
                        {{item.guestInfo.guestInfo[0].lastName}} - <a
                          href="tel:+91{{item.receiptMobile}}">{{item.receiptMobile}}</a></ion-label>
                      <span
                        *ngIf="(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) > 1">
                        +
                        {{(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) - 1}}
                        pax</span>
                      <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='en'">Language: English
                      </ion-label>
                      <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='tl'">Language: Telugu
                      </ion-label>
                      <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='hi'">Language: Hindi
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col col-6 style="color:white">
                  <span text-uppercase>OTP {{item.serviceOTP}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    Flight detail
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.flInfo.flNo}}
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.flInfo.origin}} - {{item.flInfo.dest}}
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    Flight date & time
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.flInfo.flTimeLabel1}} - {{item.flInfo.flTimeLabel2}}
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    service date & time
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.slotInfo.slotTimeLabel1}} - {{item.slotInfo.slotTimeLabel2}}
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-row>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        Adult
                      </ion-label>
                      <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                        {{item.guestInfo.adultCount}}
                      </ion-label>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        Child
                      </ion-label>
                      <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                        {{item.guestInfo.childcount}}
                      </ion-label>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        Infant
                      </ion-label>
                      <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                        {{item.guestInfo.infantcount}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    plan & package details
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.pkgInfo.pkgName}}
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.pkgInfo.pkgPlan}}
                  </ion-label>
                </ion-col>
                <ion-col col-6 justify-content-center>
                  <ion-row>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        PORTER
                      </ion-label>
                      <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                        *ngIf="item.addOnDetails && item.addOnDetails.includes('porter service')"></ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable" *ngIf="!item.addOnDetails">
                      </ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                        *ngIf="item.addOnDetails && !item.addOnDetails.includes('porter service')"></ion-icon>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                        lounge
                      </ion-label>
                      <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                        *ngIf="item.addOnDetails && item.addOnDetails.includes('lounge')"></ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable" *ngIf="!item.addOnDetails">
                      </ion-icon>
                      <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                        *ngIf="item.addOnDetails && !item.addOnDetails.includes('lounge')"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree">
                <ion-col col-6 *ngIf="item.placardDetails">
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    Special mention
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.placardDetails.msg?item.placardDetails.msg:"-"}}
                  </ion-label>
                </ion-col>
                <ion-col col-6 justify-content-center>
                  <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                    PNR No
                  </ion-label>
                  <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                    {{item.guestInfo.guestInfo[0].pnrNo}}
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="dro_rowthree" *ngIf="item.rating && item.rating.ratedByGRO">
                <ion-col col-6 style="color:white">GRO Rating</ion-col>
                <ion-col col-6>
                  <rating [(ngModel)]="item.rating.ratedByGRO.stars" max="5" emptyStarIconName="star-outline"
                    halfStarIconName="star-half" starIconName="star" nullable="false">
                  </rating>
                  <p class="remarks" *ngIf="item.rating.ratedByGRO">Remarks :
                    {{item.rating.ratedByGRO.msg?item.rating.ratedByGRO.msg:'-'}}</p>
                </ion-col>
              </ion-row>

              <ion-row class="dro_rowthree" *ngIf="item.rating && item.rating.ratedByGuest">
                <ion-col col-6 style="color:white">Guest Rating</ion-col>
                <ion-col col-6>
                  <rating [(ngModel)]="item.rating.ratedByGuest.stars" max="5" emptyStarIconName="star-outline"
                    halfStarIconName="star-half" starIconName="star" nullable="false">
                  </rating>
                  <p class="remarks" *ngIf="item.rating.ratedByGuest">Remarks :
                    {{item.rating.ratedByGuest.msg?item.rating.ratedByGuest.msg:'-'}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-grid>
        </ion-grid>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>