page-forgot-pwd {
    // .content .scroll-content {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
    .bg-white{
        background: #E5E7E7;
        width: 90%;
        margin: auto;
        padding: 5%;
        border-radius: 8px;
        box-shadow: -1px 5px 13px 0px #0000008f;
    }
    .email_inp{
        background: #E5E7E7;
        border-radius: 10px;
        border:1px solid #ccc !important;
    }
    .send_but{
        background: #FDA804;
        color: #000;
    }
    .prime_logo {
        background: transparent;
        width: 120px;
        height: 120px;
        margin: 20px auto;
        display: block;
        
    }
}
