<!--
  Generated template for the ForgotPwdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dark_bg">
  <myngx-spinner></myngx-spinner>
  <ion-img  class="prime_logo"  src="../../assets/imgs/gmr_profile.png"></ion-img>
  <div class="bg-white">
<form (ngSubmit)="forgotPwd()" [formGroup]="forgotPwdForm">
  <ion-label class="text-dim para wnormal" no-margin text-center margin-top>
    GRO 
  </ion-label>
  <ion-row margin-top class="text-white">
    <ion-col justify-content-center>
      <ion-input text-left class="email_inp" placeholder="Email" formControlName="email" type="text"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row margin-top justify-content-center text-center>
    <ion-col>
      <div class="form-error" style="color: red;">{{error}}</div>
      <button ion-button color="primary" text-uppercase padding class="custom-btn send_but" [disabled]="!forgotPwdForm.valid">
        Send Email</button>
    </ion-col>
  </ion-row>
</form>
</div>
</ion-content>
