page-track-guest {


    .trackstatus .dark_bg{
        border-radius: 10px 10px 0px 0px;
    }
    .avatar ion-icon {
        font-size: 2.4em;
    }
    .rowgroup.border-top{
        border-top: 1px solid #3F4458;
    }
    .rowgroup .head4{
        margin: 0px 0px 5px 0px;
    }
    .track_stages .rowgroup{
        height: 100px;
    }
    .idle .start{display: inline-block;}
    .idle .complete{display: none;}
    .idle .process{display: none;}
    .idle .head4{color: #222;}
    .idle .status span{display: none;}
    
    .completed .start{display: none;}
    .completed .complete{display: inline-block;}
    .completed .process{display: none;}
    .completed .head4{color: #78849E;}
    .completed .status span{display: none;}
    .completed .status span.text-orange{display: block;}
    
    .process .start{display: none;}
    .process .complete{display: none;}
    .process .process{display: inline-block;}
    .process .head4{color: #665EFF;}
    .process .status span{display: none;}
    .process .status span.text-blue{display: block;}
    
    .grid.track_stages[no-padding] > .row > .col[col-7] {
        padding: 0px 0px 0px 20px;
    }
    .trackline:before{
        content:"";
        width: 1px;
        height: 100%;
           position: absolute;
        top: 0px;
        right: -6px;
        border-left-color: #ccc;
        border-left-style: dotted;
        border-left-width: 4px;
    }
    .completed .trackline:before{
        border-left-color: #353A50;
    }
    .process .trackline:before{
        content:"";
        width: 10px;
        height: 100%;
        background: #735AFC;
        border-radius: 10px;
        position: absolute;
        top: -10px;
        right: -8px;
        border-left-width: 0px;
        height: calc(100% + (20px));
    }
    .process .trackline:after{
        content:"";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 0px;
        right: -6px;
    }
    .bookedservice{
        margin-top: -40px;
    }
    .trackmap{
        background: transparent;
    
    }
    .trackmap ion-row{height: 50vh;}
    
    
    #map {
        width: 100%;
        height: 100%;
        background: #eee;
      }
    
    .mapback{position: absolute; top: 0px; left: 0px; z-index: 10; background: transparent;font-size: 2rem;}
}
