<!--
  Generated template for the TrackGuestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dark_header">

  <ion-navbar hideBackButton>
    <button left show persistent="true" menuToggle class="no-background posmenu">
      <img src="assets/imgs/icons-dark-menu-on.png" />

    </button>
    <ion-title text-center class="text-white">TRACK GUEST</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <div #map style="height: 100%"></div>

</ion-content>
