<!--
  Generated template for the ReallocateModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Choose GRO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list radio-group>

    <ion-item *ngFor="let g of groList">
      <ion-label>{{g.name}}</ion-label>
      <ion-radio [value]="g.uid" (ionSelect)="reAllocateTo(g)" *ngIf="reAllocate"></ion-radio>
      <ion-radio [value]="g.uid" (ionSelect)="allocateTo(g)" *ngIf="!reAllocate"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>