<ion-header class="dark_header">

    <ion-navbar hideBackButton>
        <button left show persistent="true" menuToggle class="no-background posmenu">
            <img src="assets/imgs/icons-dark-menu-on.png" />

        </button>
        <ion-title text-center class="text-white">
            <img class="prime_logo" src="../../assets/imgs/gmr_profile.png" /> Dashboard
        </ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid class="bookingswrap border-radius" no-padding>
        <ion-row class="dark_bg">
            <!-- <ion-col col-12 text-center>
        <ion-label class="wnormal text-white" text-uppercase>my slots</ion-label>
      </ion-col> -->
        </ion-row>
        <ion-row>
            <ion-col no-padding>
                <div class="white_bg">
                    <ion-segment [(ngModel)]="dash_slots" (ionChange)="toChange($event)" class="butt_tab">
                        <ion-segment-button value="scheduled">
                            Scheduled({{scheduledSlots?scheduledSlots.length:0}})
                        </ion-segment-button>
                        <ion-segment-button value="inProgress">
                            In Progress({{inProgressSlots?inProgressSlots.length:0}})
                        </ion-segment-button>
                        <ion-segment-button value="completed">
                            Completed({{completedSlots?completedSlots.length:0}})
                        </ion-segment-button>
                    </ion-segment>
                </div>
                <div [ngSwitch]="dash_slots">
                    <ion-list *ngSwitchCase="'scheduled'">
                        <ion-grid *ngIf="scheduledSlots?.length == 0">
                            <ion-row class="dark_bg border-radius">
                                <ion-col text-center padding>
                                    <ion-label class="wnormal para text-white" text-capitalize>
                                        No Bookings scheduled
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-searchbar (ionInput)="getscheduledSlots($event)"></ion-searchbar>
                        <ion-grid padding *ngFor="let item of scheduledSlots;let i=index">
                            <ion-grid no-padding padding-bottom class="dro_grid" style="margin-bottom:0px">
                                <ion-row align-items-center class="dro_head" style="color:white">
                                    <ion-col no-padding col-6>
                                        <ion-label class="name para">{{item.slotInfo.slotTimeLabel1}}</ion-label>
                                        <ion-label class="subPara" text-uppercase>{{item.service}}</ion-label>
                                    </ion-col>
                                    <ion-col no-padding col-4>
                                        {{item.bookingID}}
                                    </ion-col>
                                    <ion-col no-padding col-2 text-right (click)="toggleGroup(i)"
                                        [ngClass]="{active: isGroupShown(i)}">
                                        <button
                                            [disabled]="autoComplete(item.slotInfo.slotTimeLabel1,item.slotInfo.slotTimeLabel2,item.service,item.bookingID,item.uid)"
                                            ion-button color="ash" class="roundbtn_icon">
                                            <ion-icon name="add" class="plus"></ion-icon>
                                            <ion-icon name="remove" class="minus"></ion-icon>
                                        </button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <ion-grid *ngIf="isGroupShown(i)" class="dro_grid" no-padding>
                                <ion-row class="dro_rowtwo" style="color: white" align-items-center>
                                    <ion-col no-padding col-5 text-right *ngIf="item.status == 'booked'">
                                        <button ion-button color="primary" [disabled]="item.serviceStart?false:true"
                                            text-uppercase class="custom-btn yellowButton"
                                            *ngIf="otpStatus == 'notVerified' && item.service == 'departure'"
                                            (click)="trackGuest(item.status,item.serviceList,item.bookingID,item.guestInfo.guestInfo[0].firstName,item.guestInfo.guestInfo[0].lastName,item.guestInfo.guestInfo[0].mobileNumber)"
                                            small>{{item.serviceStart? 'Service Started' : ''}}</button>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col no-padding col-5>
                                        <div class="startservice">
                                            <button ion-button color="primary" text-uppercase class="custom-btn"
                                                (click)="verifyOTP(item)" small *ngIf="otpStatus == 'notVerified'">
                                                verify otp</button>
                                            <!-- <button ion-button color="primary" text-uppercase class="custom-btn" (ionChange)="primeService(item)"small *ngIf="otpStatus == 'verified'">prime service</button> -->
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowtwo" align-items-center>
                                    <ion-col col-5 no-padding>
                                        <ion-row class="avatar" align-items-center>
                                            <ion-col col-5 no-padding>
                                                <ion-label class="name para wnormal" text-capitalize no-margin>
                                                    {{item.guestInfo.guestInfo[0].salu}}.{{item.guestInfo.guestInfo[0].firstName}}
                                                    - <a href="tel:+91{{item.receiptMobile}}">{{item.receiptMobile}}</a>
                                                    <span
                                                        *ngIf="(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) > 1">
                                                        +
                                                        {{(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) - 1}}
                                                        pax</span>
                                                </ion-label>
                                                <ion-label class="subPara text-grey" no-margin
                                                    *ngIf="item.prefLang==='en'">Language: English</ion-label>
                                                <ion-label class="subPara text-grey" no-margin
                                                    *ngIf="item.prefLang==='tl'">Language: Telugu</ion-label>
                                                <ion-label class="subPara text-grey" no-margin
                                                    *ngIf="item.prefLang==='hi'">Language: Hindi</ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col col-2 no-padding>

                                    </ion-col>
                                    <ion-col col-5 style="color:white" *ngIf="otpStatus == 'verified'">
                                        <span text-uppercase>OTP {{item.serviceOTP}}</span>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5 *ngIf="item.service === 'departure' || item.service === 'arrival'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight detail
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.flNo}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-5 *ngIf="item.service === 'transfer'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight detail
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.departureInfo.flNo}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5 *ngIf="item.service === 'departure' || item.service === 'arrival'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight date & time
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.flTimeLabel1}} - {{item.flInfo.flTimeLabel2}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-5 *ngIf="item.service === 'transfer'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight date & time
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.departureInfo.flTimeLabel1}} -
                                            {{item.flInfo.departureInfo.flTimeLabel2}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Airport Detail
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.origin}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                            *ngIf="item.service === 'transfer'">
                                            <div *ngIf="item.flInfo.departureInfo.mode === 'd2d'">
                                                domestic - domestic
                                            </div>
                                            <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                                domestic - international
                                            </div>
                                            <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                                international - domestic
                                            </div>
                                        </ion-label>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                            *ngIf="item.service != 'transfer'">
                                            {{item.flInfo.mode}}
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.dest}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            service date & time
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.slotInfo.slotTimeLabel1}} - {{item.slotInfo.slotTimeLabel2}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5>
                                        <ion-row>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    Adult
                                                </ion-label>
                                                <ion-label class="wnormal para valuewhite values" text-capitalize
                                                    no-margin>
                                                    {{item.guestInfo.adultCount}}
                                                </ion-label>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    Child
                                                </ion-label>
                                                <ion-label class="wnormal para valuewhite values" text-capitalize
                                                    no-margin>
                                                    {{item.guestInfo.childcount}}
                                                </ion-label>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    Infant
                                                </ion-label>
                                                <ion-label class="wnormal para valuewhite values" text-capitalize
                                                    no-margin>
                                                    {{item.guestInfo.infantcount}}
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            plan & package details
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.pkgInfo.pkgName}}
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.pkgInfo.pkgPlan}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5 justify-content-center
                                        *ngIf="(item.pkgInfo.pkgName | uppercase) != 'PLATINUM PACKAGE'">
                                        <ion-row>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    PORTER
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                                    *ngIf="item.addOnDetails && (item.addOnDetails.includes('Porter Service') || item.addOnDetails.includes('porter service') || item.addOnDetails.includes('PORTER SERVICE'))">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="!item.addOnDetails">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="item.addOnDetails && !(item.addOnDetails.includes('Porter Service') || item.addOnDetails.includes('porter service') || item.addOnDetails.includes('PORTER SERVICE'))">
                                                </ion-icon>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    LOUNGE
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                                    *ngIf="item.addOnDetails && (item.addOnDetails.includes('Lounge') || item.addOnDetails.includes('lounge') || item.addOnDetails.includes('LOUNGE'))">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="!item.addOnDetails">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="item.addOnDetails && !(item.addOnDetails.includes('Lounge') || item.addOnDetails.includes('lounge') || item.addOnDetails.includes('LOUNGE'))">
                                                </ion-icon>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col col-5 justify-content-center
                                        *ngIf="(item.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'">
                                        <ion-row>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    PORTER
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable">
                                                </ion-icon>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    LOUNGE
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable">
                                                </ion-icon>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5 *ngIf="item.placardDetails">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Special mention
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.placardDetails.msg?item.placardDetails.msg:"-"}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5 justify-content-center>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            PNR No
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.guestInfo.guestInfo[0].pnrNo}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <button ion-button color="primary" text-uppercase class="custom-btn"
                                        (click)="showPlacard(item.placardDetails.name)" small>show placard</button>
                                </ion-row>
                            </ion-grid>
                        </ion-grid>

                    </ion-list>
                    <ion-list *ngSwitchCase="'inProgress'">
                        <ion-grid *ngIf="inProgressSlots?.length == 0">
                            <ion-row class="dark_bg border-radius">
                                <ion-col text-center padding>
                                    <ion-label class="wnormal para text-white" text-capitalize>
                                        No Bookings in progress
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-searchbar (ionInput)="getinProgressSlots($event)"></ion-searchbar>
                        <ion-grid padding *ngFor="let item of inProgressSlots; let p=index">
                            <ion-grid no-padding padding-bottom class="dro_grid" style="margin-bottom:0px">
                                <ion-row align-items-center class="dro_head" style="color:white">
                                    <ion-col no-padding col-6>
                                        <ion-label class="name para">{{item.slotInfo.slotTimeLabel1}}</ion-label>
                                        <ion-label class="subPara" text-uppercase>{{item.service}}</ion-label>
                                    </ion-col>
                                    <ion-col no-padding col-4>
                                        {{item.bookingID}}
                                    </ion-col>
                                    <ion-col no-padding col-2 text-right (click)="toggleGroup(p)"
                                        [ngClass]="{active: isGroupShown(p)}">
                                        <button ion-button color="ash" class="roundbtn_icon">
                                            <ion-icon name="add" class="plus"></ion-icon>
                                            <ion-icon name="remove" class="minus"></ion-icon>
                                        </button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <ion-grid *ngIf="isGroupShown(p)" class="dro_grid" no-padding>
                                <ion-row class="dro_rowtwo" style="color: white" align-items-center>
                                    <button ion-button color="primary" text-uppercase class="custom-btn serv_check"
                                        (click)="toggleList(p)" [ngClass]="{active: isListShown(p)}" small>service check
                                        list</button>
                                </ion-row>
                                <!-- <ion-row class="dro_rowtwo" style="color: white" align-items-center>

                </ion-row> -->
                                <ion-list class="dro_rowtwo" style="color: white" align-items-center
                                    *ngIf="isListShown(p)">
                                    <ion-row class="serv_cont" *ngFor="let cItem of item.serviceList, let c=index">
                                        <ion-col col-5>
                                            <ion-badge> {{cItem.title}}</ion-badge>
                                        </ion-col>
                                        <ion-col col-2></ion-col>
                                        <ion-col col-5 text-right>
                                            <ion-checkbox [(ngModel)]="cItem.checked"
                                                (click)="updateStatus(p,c,cItem.key,cItem.title,item.bookingID,item.service,item.uid,item)"
                                                mode="ios" [disabled]="cItem.checked" [checked]="cItem.checked">
                                            </ion-checkbox>
                                        </ion-col>
                                    </ion-row>
                                </ion-list>
                                <ion-row class="dro_rowtwo" align-items-center>
                                    <ion-col col-7 no-padding>
                                        <ion-row class="avatar" align-items-center>
                                            <ion-col col-12 no-padding>
                                                <ion-label class="name para wnormal" text-capitalize no-margin>
                                                    {{item.guestInfo.guestInfo[0].salu}}.{{item.guestInfo.guestInfo[0].firstName}}
                                                    - <a href="tel:+91{{item.receiptMobile}}">{{item.receiptMobile}}</a>
                                                    <span
                                                        *ngIf="(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) > 1">
                                                        +
                                                        {{(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) - 1}}
                                                        pax</span>
                                                </ion-label>
                                                <ion-label class="subPara text-grey" no-margin
                                                    *ngIf="item.prefLang==='en'">Language: English</ion-label>
                                                <ion-label class="subPara text-grey" no-margin
                                                    *ngIf="item.prefLang==='tl'">Language: Telugu</ion-label>
                                                <ion-label class="subPara text-grey" no-margin
                                                    *ngIf="item.prefLang==='hi'">Language: Hindi</ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col col-5 style="color:white">
                                        <span text-uppercase>OTP {{item.serviceOTP}}</span>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5 *ngIf="item.service === 'departure' || item.service === 'arrival'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight detail
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.flNo}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-5 *ngIf="item.service === 'transfer'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight detail
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.departureInfo.flNo}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5 *ngIf="item.service === 'departure' || item.service === 'arrival'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight date & time
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.flTimeLabel1}} - {{item.flInfo.flTimeLabel2}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-5 *ngIf="item.service === 'transfer'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight date & time
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.departureInfo.flTimeLabel1}} -
                                            {{item.flInfo.departureInfo.flTimeLabel2}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Airport Detail
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.origin}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                            *ngIf="item.service === 'transfer'">
                                            <div *ngIf="item.flInfo.departureInfo.mode === 'd2d'">
                                                domestic - domestic
                                            </div>
                                            <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                                domestic - international
                                            </div>
                                            <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                                international - domestic
                                            </div>
                                        </ion-label>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                            *ngIf="item.service != 'transfer'">
                                            {{item.flInfo.mode}}
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.dest}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            service date & time
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.slotInfo.slotTimeLabel1}} - {{item.slotInfo.slotTimeLabel2}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5>
                                        <ion-row>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    Adult
                                                </ion-label>
                                                <ion-label class="wnormal para valuewhite values" text-capitalize
                                                    no-margin>
                                                    {{item.guestInfo.adultCount}}
                                                </ion-label>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    Child
                                                </ion-label>
                                                <ion-label class="wnormal para valuewhite values" text-capitalize
                                                    no-margin>
                                                    {{item.guestInfo.childcount}}
                                                </ion-label>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    Infant
                                                </ion-label>
                                                <ion-label class="wnormal para valuewhite values" text-capitalize
                                                    no-margin>
                                                    {{item.guestInfo.infantcount}}
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            plan & package details
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.pkgInfo.pkgName}}
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.pkgInfo.pkgPlan}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5 justify-content-center
                                        *ngIf="(item.pkgInfo.pkgName | uppercase) != 'PLATINUM PACKAGE'">
                                        <ion-row>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    PORTER
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                                    *ngIf="item.addOnDetails && (item.addOnDetails.includes('Porter Service') || item.addOnDetails.includes('porter service') || item.addOnDetails.includes('PORTER SERVICE'))">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="!item.addOnDetails">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="item.addOnDetails && !(item.addOnDetails.includes('Porter Service') || item.addOnDetails.includes('porter service') || item.addOnDetails.includes('PORTER SERVICE'))">
                                                </ion-icon>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    LOUNGE
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                                    *ngIf="item.addOnDetails && (item.addOnDetails.includes('Lounge') || item.addOnDetails.includes('lounge') || item.addOnDetails.includes('LOUNGE'))">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="!item.addOnDetails">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="item.addOnDetails && !(item.addOnDetails.includes('Lounge') || item.addOnDetails.includes('lounge') || item.addOnDetails.includes('LOUNGE'))">
                                                </ion-icon>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>

                                    <ion-col col-5 justify-content-center
                                        *ngIf="(item.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'">
                                        <ion-row>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    PORTER
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable">
                                                </ion-icon>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    LOUNGE
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable">
                                                </ion-icon>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>

                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5 *ngIf="item.placardDetails">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Special mention
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.placardDetails.msg?item.placardDetails.msg:"-"}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5 justify-content-center>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            PNR No
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.guestInfo.guestInfo[0].pnrNo}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowtwo" style="color: white" align-items-center>
                                    <button ion-button color="primary" text-uppercase class="custom-btn"
                                        *ngIf="(!item.pauseInfo || (item.pauseInfo && !item.pauseInfo.paused))"
                                        (click)="pauseService(item)" small>pause service</button>
                                    <button ion-button color="primary" text-uppercase class="custom-btn"
                                        *ngIf="item.pauseInfo && item.pauseInfo.paused" (click)="resumeService(item)"
                                        small>resume
                                        service</button>
                                </ion-row>
                            </ion-grid>
                        </ion-grid>
                    </ion-list>
                    <ion-list *ngSwitchCase="'completed'">
                        <ion-grid *ngIf="completedSlots?.length == 0">
                            <ion-row class="dark_bg border-radius">
                                <ion-col text-center padding>
                                    <ion-label class="wnormal para text-white" text-capitalize>
                                        No Bookings in progress
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-searchbar (ionInput)="getcompletedSlots($event)"></ion-searchbar>
                        <ion-grid padding *ngFor="let item of completedSlots; let p=index">
                            <ion-grid no-padding padding-bottom class="dro_grid" style="margin-bottom:0px">
                                <ion-row align-items-center class="dro_head" style="color:white">
                                    <ion-col no-padding col-6>
                                        <ion-label class="name para">{{item.slotInfo.slotTimeLabel1}}</ion-label>
                                        <ion-label class="subPara" text-uppercase>{{item.service}}</ion-label>
                                    </ion-col>
                                    <ion-col no-padding col-4>
                                        {{item.bookingID}}
                                    </ion-col>
                                    <ion-col no-padding col-2 text-right (click)="toggleGroup(p)"
                                        [ngClass]="{active: isGroupShown(p)}">
                                        <button ion-button color="ash" class="roundbtn_icon">
                                            <ion-icon name="add" class="plus"></ion-icon>
                                            <ion-icon name="remove" class="minus"></ion-icon>
                                        </button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <ion-grid *ngIf="isGroupShown(p)" class="dro_grid" no-padding>
                                <ion-row class="dro_rowtwo" style="color: white" align-items-center>
                                    <button ion-button color="primary" text-uppercase class="custom-btn serv_check "
                                        (click)="toggleList(j)" [ngClass]="{active: isListShown(j)}" small>service check
                                        list</button>
                                </ion-row>
                                <!-- <ion-row class="dro_rowtwo" style="color: white" align-items-center>
          
                          </ion-row> -->
                                <ion-list class="dro_rowtwo" style="color: white" align-items-center
                                    *ngIf="isListShown(j)">
                                    <ion-row class="serv_cont" *ngFor="let cItem of item.serviceList; let c=index">
                                        <ion-col col-5>
                                            <ion-badge> {{cItem.title}}</ion-badge>
                                        </ion-col>
                                        <ion-col col-2></ion-col>
                                        <ion-col col-5 text-right>
                                            <!-- (click)="updateStatus(c,cItem.key,cItem.title,item.bookingID,item.service,item.uid)" -->
                                            <ion-checkbox mode="ios" [disabled]="cItem.checked"
                                                [checked]="cItem.checked"></ion-checkbox>
                                        </ion-col>
                                    </ion-row>
                                </ion-list>
                                <ion-row class="dro_rowtwo" align-items-center>

                                    <ion-col col-7 no-padding>
                                        <ion-row class="avatar" align-items-center>
                                            <ion-col col-12 no-padding>
                                                <ion-label class="name para wnormal" text-capitalize no-margin>
                                                    {{item.guestInfo.guestInfo[0].salu}}.{{item.guestInfo.guestInfo[0].firstName}}
                                                    - <a href="tel:+91{{item.receiptMobile}}">{{item.receiptMobile}}</a>
                                                    <span
                                                        *ngIf="(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) > 1">
                                                        +
                                                        {{(guestCount(item.guestInfo.adultCount,item.guestInfo.childcount,item.guestInfo.infantcount)) - 1}}
                                                        pax</span>
                                                </ion-label>
                                                <ion-label class="subPara text-grey" no-margin
                                                    *ngIf="item.prefLang==='en'">Language: English</ion-label>
                                                <ion-label class="subPara text-grey" no-margin
                                                    *ngIf="item.prefLang==='tl'">Language: Telugu</ion-label>
                                                <ion-label class="subPara text-grey" no-margin
                                                    *ngIf="item.prefLang==='hi'">Language: Hindi</ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col col-5 style="color:white">
                                        <span text-uppercase>OTP {{item.serviceOTP}}</span>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5 *ngIf="item.service === 'departure' || item.service === 'arrival'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight detail
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.flNo}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-5 *ngIf="item.service === 'transfer'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight detail
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.departureInfo.flNo}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5 *ngIf="item.service === 'departure' || item.service === 'arrival'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight date & time
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.flTimeLabel1}} - {{item.flInfo.flTimeLabel2}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-5 *ngIf="item.service === 'transfer'">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Flight date & time
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.departureInfo.flTimeLabel1}} -
                                            {{item.flInfo.departureInfo.flTimeLabel2}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Airport Detail
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.origin}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                            *ngIf="item.service === 'transfer'">
                                            <div *ngIf="item.flInfo.departureInfo.mode === 'd2d'">
                                                domestic - domestic
                                            </div>
                                            <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                                domestic - international
                                            </div>
                                            <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                                international - domestic
                                            </div>
                                        </ion-label>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                            *ngIf="item.service != 'transfer'">
                                            {{item.flInfo.mode}}
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.flInfo.dest}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            service date & time
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.slotInfo.slotTimeLabel1}} - {{item.slotInfo.slotTimeLabel2}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5>
                                        <ion-row>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    Adult
                                                </ion-label>
                                                <ion-label class="wnormal para valuewhite values" text-capitalize
                                                    no-margin>
                                                    {{item.guestInfo.adultCount}}
                                                </ion-label>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    Child
                                                </ion-label>
                                                <ion-label class="wnormal para valuewhite values" text-capitalize
                                                    no-margin>
                                                    {{item.guestInfo.childcount}}
                                                </ion-label>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    Infant
                                                </ion-label>
                                                <ion-label class="wnormal para valuewhite values" text-capitalize
                                                    no-margin>
                                                    {{item.guestInfo.infantcount}}
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            plan & package details
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.pkgInfo.pkgName}}
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.pkgInfo.pkgPlan}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5 justify-content-center
                                        *ngIf="(item.pkgInfo.pkgName | uppercase) != 'PLATINUM PACKAGE'">
                                        <ion-row>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    PORTER
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                                    *ngIf="item.addOnDetails && (item.addOnDetails.includes('Porter Service') || item.addOnDetails.includes('porter service') || item.addOnDetails.includes('PORTER SERVICE'))">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="!item.addOnDetails">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="item.addOnDetails && !(item.addOnDetails.includes('Porter Service') || item.addOnDetails.includes('porter service') || item.addOnDetails.includes('PORTER SERVICE'))">
                                                </ion-icon>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    LOUNGE
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                                    *ngIf="item.addOnDetails && (item.addOnDetails.includes('Lounge') || item.addOnDetails.includes('lounge') || item.addOnDetails.includes('LOUNGE'))">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="!item.addOnDetails">
                                                </ion-icon>
                                                <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                                    *ngIf="item.addOnDetails && !(item.addOnDetails.includes('Lounge') || item.addOnDetails.includes('lounge') || item.addOnDetails.includes('LOUNGE'))">
                                                </ion-icon>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col col-5 justify-content-center
                                        *ngIf="(item.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'">
                                        <ion-row>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    PORTER
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable">
                                                </ion-icon>
                                            </ion-col>
                                            <ion-col no-padding>
                                                <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                                    LOUNGE
                                                </ion-label>
                                                <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable">
                                                </ion-icon>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                    <ion-col col-5 *ngIf="item.placardDetails">
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            Special mention
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.placardDetails.msg?item.placardDetails.msg:"-"}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5 justify-content-center>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                            PNR No
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                            {{item.guestInfo.guestInfo[0].pnrNo}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree" *ngIf="item.rating && item.rating.ratedByGRO">
                                    <ion-col col-5 style="color:white">Your Rating</ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col col-5>
                                        <rating [(ngModel)]="item.rating.ratedByGRO.stars" max="5"
                                            emptyStarIconName="star-outline" halfStarIconName="star-half"
                                            starIconName="star" nullable="false">
                                        </rating>
                                        <p class="remarks" *ngIf="item.rating.ratedByGRO">Remarks :
                                            {{item.rating.ratedByGRO.msg}}
                                        </p>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-grid>
                    </ion-list>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab right bottom *ngIf="dash_slots=='scheduled'">
        <button ion-fab color="dark">
            <ion-icon name="funnel"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab (click)="fliterService('departure','scheduled')">D</button>
            <button ion-fab (click)="fliterService('arrival','scheduled')">A</button>
            <button ion-fab (click)="fliterService('transfer','scheduled')">T</button>
            <button ion-fab (click)="fliterService('all','scheduled')">All</button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab right bottom *ngIf="dash_slots=='completed'">
        <button ion-fab color="dark">
            <ion-icon name="funnel"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab (click)="fliterService('departure','completed')">D</button>
            <button ion-fab (click)="fliterService('arrival','completed')">A</button>
            <button ion-fab (click)="fliterService('transfer','completed')">T</button>
            <button ion-fab (click)="fliterService('all','completed')">All</button>
        </ion-fab-list>
    </ion-fab>
</ion-content>