page-dash-gro {
    .roundbtn_icon{
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    .yellowButton {
        background: #EE9D0E;
        color: #fff;
    }
    .dark_bg2{
        background: #1E4679;
    }
    .dark_bg {
        background: #1E4679;
    }
    .dark_header .toolbar-background-md {
        border-color: #1E4679;
        background: #1E4679;
    }
    .dro_grid{
        background: #1E4679;
        border-radius: 10px;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .dro_grid>.dro_head{
        padding: 6px 10px;
        border-bottom: 1px solid #1E4679;
        // border-bottom: 1px solid #eee
    }
    .dro_grid>.dro_head .head4{
        color: #fff;
    }
    .dro_grid>.dro_rowtwo{
        padding: 6px 16px;
        // border-bottom: 1px solid #eee;
        border-bottom: 1px solid #1E4679;

    }
    .dro_grid>.dro_rowtwo .name{
        color: #fff;
    }
    .dro_grid>.dro_rowtwo [col-6]{
        line-height: 18px;
    }
    .dro_grid>.dro_rowtwo [col-6] .head4{
        color: #fff;
    }
    .dro_grid>.dro_rowtwo .avatar [col-9]{
        line-height: 18px;
    }
    .avatar ion-icon {
        font-size: 2.4em;
    }
    .dro_grid>.dro_rowthree{
        padding: 6px 16px;
        // border-bottom: 1px solid #eee;
        border-bottom: 1px solid #1E4679;
    }
    .dro_grid .values{
        margin-top: 5px;
    }
    .dro_grid>.dro_rowthree .valuewhite{
        color: #fff;
    }
    .timer{text-align: right};
    
    .dro_grid>.dro_rowfour{
        padding: 6px 16px;
    }

    .alignbottom{
        vertical-align: bottom;
        line-height: 18px;
    }

    .posmenu{
        display: block !important;
    }
    
    .dategrid{
        background: #292D40;
        min-height: 100px;
    }
    .addOnIcons{
        display: flex;
        margin: 0 auto;
        text-align: center;
    }

    .aoAvailable{
        color: greenyellow;
    }

    .aoNotAvailable{
        color: red;
    }
    .butt_tab{
        padding: 15px 0px;
    }
    .butt_tab ion-segment-button {
        text-transform: none !important;
    }
    .prime_logo{
        width:50px;
        height: 50px;
    }
    .serv_check{
        position: relative;
    }
    .serv_check:after{
      content: "\203A";
      position: absolute;
      width: 16px;
      height:16px;
      font-size: 24px;
      display: block;    
      top:25%;
      right:10px;
      color: #fff;
      transition: 0.5s all ease;
    }
    .serv_check.active:after{
        transform: rotate(90deg);
    }
  .dro_grid > .dro_head{
     border:0px ;
    }
    .serv_cont{
        color: white;
        background: #ddd;
        margin: 20px;
        border-radius: 6px;
        padding: 5px 0px;
    }
    .badge-md {
        border-radius: 4px;
        color: #000;
        background: none;
    }
    .text-white .toolbar-title-md {
        color: #fff;
        display: flex;
        width: 25%;
        margin: auto;
        align-items: center;
        padding: 10px 0px;
    }  
    .plus{
        display: block;
        transition: 0.5s all ease;
    } 
    .minus{
        display: none;
        transition: 0.5s all ease;
    } 
    .col.active .roundbtn_icon .plus{
        display: none;
    }
    .col.active .roundbtn_icon .minus{
        display: block;
    }
    .remarks{
        color: #fff;
    }
    @media screen and (min-width: 600px){
        .para{
            font-size: 2rem;
        }
        .subPara{
            font-size: 1.5rem;
        }
        // .roundbtn_icon{
        //     // display: flex;
        //     // justify-content: center;
        //     width: 40px;
        //     height: 40px;
        //     border-radius: 25px;
        // }
        .segment-md .segment-button {
           
            font-size: 2.5rem;
        }
        .toolbar-title-md
        {
            font-size: 2.5rem;
        }
        .img-align
        {
            width: 35px !important;
        }
        .form_group
        {
            min-height: 70px;
        }
       .segment-md ion-label
        {
            padding: 35px 0px 0px 0px;
        }
        ion-grid 
        {
            font-size: 20px;
        }
        
        .custom-btn
        {
            height: 5rem;
        }
      .button-md
      {
          font-size: 2.1rem;
      }
        
    }



    ul {
        padding: 0px;
        margin: 0px;
       
        &.rating li {
          padding: 3px 3px !important;
          background: none;
          color: #ffb400;
       
          ion-icon {
            font-size: 25px;
          }
        }
      }


}
