<!--
  Generated template for the ReallocateModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Choose Hours</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>Hours</ion-label>
                    <ion-select [(ngModel)]="hours" interface="popover">
                        <ion-option value="1">1</ion-option>
                        <ion-option value="2">2</ion-option>
                        <ion-option value="3">3</ion-option>
                        <ion-option value="4">4</ion-option>
                        <ion-option value="5">5</ion-option>
                        <ion-option value="6">6</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                        <ion-label stacked>Reason</ion-label>
                        <ion-textarea type="text" rows="3" [(ngModel)]="reason"></ion-textarea>
                  </ion-item>
                  <button (click)="informGRL()" ion-button color="secondary" outline>Submit</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-list radio-group>
        
    <ion-item>
      <ion-label>Flight Delayed</ion-label>
      <ion-radio (ionSelect)="informGRL('delayedFlight')"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>Other Reasons</ion-label>
        <ion-radio (ionSelect)="informGRL('other')"></ion-radio>
    </ion-item>
    <ion-item *ngIf="isGroupShown(0)">
        <ion-textarea [(ngModel)]="msg" placeholder="Enter Your Reason" maxLength="100"></ion-textarea>
    </ion-item>
        <ion-item>
            <ion-label>1 Hour</ion-label>
            <ion-radio (ionSelect)="informGRL(1)"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>2 Hours</ion-label>
            <ion-radio (ionSelect)="informGRL(2)"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>3 Hours</ion-label>
            <ion-radio (ionSelect)="informGRL(3)"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>4 Hours</ion-label>
            <ion-radio (ionSelect)="informGRL(4)"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>5 Hours</ion-label>
            <ion-radio (ionSelect)="informGRL(5)"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>6 Hours</ion-label>
            <ion-radio (ionSelect)="informGRL(6)"></ion-radio>
        </ion-item>

    </ion-list> -->

</ion-content>