<ion-header class="dark_header">

  <ion-navbar hideBackButton>
    <button left show persistent="true" menuToggle class="no-background posmenu">
      <img src="assets/imgs/icons-dark-menu-on.png" />

    </button>
    <ion-title text-center class="text-white">
      <img class="prime_logo" src="../../assets/imgs/gmr_profile.png" />
      GRO Details</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="bookingswrap border-radius" no-padding>
    <!-- <ion-row class="dark_bg">
            <ion-col col-12 text-center>
              <ion-label class="wnormal text-white" text-uppercase>overview</ion-label>
            </ion-col>
          </ion-row> -->
    <ion-row>
      <ion-col no-padding>
        <div>
          <ion-list>
            <ion-grid *ngIf="groList?.length == 0">
              <ion-row class="dark_bg border-radius">
                <ion-col text-center padding>
                  <ion-label class="wnormal para text-white" text-capitalize>
                    GRO's yet to be added in the system
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid padding *ngFor="let gro of groList; let i=index">
              <ion-card>
                <ion-card-header style="background:#1E4679;color:white;border-bottom: 1px solid #fff"
                  (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
                  <span>{{gro.name}}</span>
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"
                    style="float: right;"></ion-icon>
                </ion-card-header>
                <ion-card-content style="background:#1E4679;color:white">
                  <ion-row>
                    <ion-col col-6>Today's Shift:
                      <span
                        [ngClass]="{'day': toDetect(gro.uid)=='D', 'night':toDetect(gro.uid)=='N', 'off':toDetect(gro.uid)=='O', 'rest':toDetect(gro.uid)=='R' }">{{toDetect(gro.uid)}}</span>
                    </ion-col>
                    <ion-col col-6> Today's Count:
                      <span>{{todayBooking(gro.uid)}}</span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6 *ngIf="gro.loggedDetails">
                      {{toCheck(gro.loggedDetails)?gro.mobileNo:'-'}}</ion-col>
                    <ion-col col-6>{{gro.email}}</ion-col>
                  </ion-row>
                  <ion-grid *ngIf="isGroupShown(i)">

                    <ion-grid *ngIf="!gro.isActivated" class="text_bar">
                      GRO yet to activate their account
                    </ion-grid>

                    <ion-grid *ngIf="gro.isActivated">
                      <ion-segment [(ngModel)]="slots_overview">
                        <!-- <ion-segment-button value="{{'scheduledSlots'+gro.uid}}" class="cardInfo" style="background:#fffde7; color:black; opacity:1"></ion-segment-button> -->
                        <ion-segment-button value="scheduledSlots" class="cardInfo"
                          style="background:#fffde7; color:black; opacity:1">
                          Scheduled
                        </ion-segment-button>
                        <ion-segment-button value="inProgressSlots" class="cardInfo"
                          style="background:#4dd0e1; color:black; opacity:1">
                          In Progress
                        </ion-segment-button>
                        <ion-segment-button value="completedSlots" class="cardInfo"
                          style="background:#4caf50; color:black; opacity:1">
                          Completed
                        </ion-segment-button>
                      </ion-segment>

                      <div [ngSwitch]="slots_overview">
                        <!-- <ion-list *ngSwitchCase="'scheduledSlots'+gro.uid"> -->
                        <ion-list *ngSwitchCase="'scheduledSlots'" style="padding:12px;">
                          <ion-grid no-padding *ngFor="let item of slotsList; let j=index;">
                            <ion-grid class="scheduledCard" style="border: 2px solid;margin-top:5px;" padding-bottom
                              *ngIf="item.slotInfo && item.slotInfo.groInfo && item.slotInfo.groInfo.uid == gro.uid && item.status == 'booked'">
                              <ion-row align-items-center style="color:white">
                                <ion-col no-padding col-10>
                                  <ion-label class="name para">{{item.slotInfo.slotTimeLabel1}}</ion-label>
                                  <ion-label class="subPara" text-uppercase>{{item.service}}</ion-label>
                                </ion-col>
                                <ion-col no-padding col-2 text-right (click)="toggleSlot(j)"
                                  [ngClass]="{active: isSlotShown(j)}">
                                  <button ion-button color="brown">
                                    <ion-icon color="success" item-right
                                      [name]="isSlotShown(j) ? 'arrow-dropdown' : 'arrow-dropright'"
                                      style="float: right;"></ion-icon>
                                  </button>
                                </ion-col>
                              </ion-row>
                              <ion-grid *ngIf="isSlotShown(j)">
                                <ion-row class="dro_rowtwo" style="color: white" align-items-center>
                                  <ion-col no-padding *ngIf="item.status == 'booked'">
                                    <button ion-button color="primary" class="reallc_butt" text-uppercase
                                      *ngIf="item.slotInfo.groInfo" (click)="reAllocateSlot(item)" small>Re Allocate
                                      Slot</button>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowtwo" align-items-center>
                                  <ion-col col-7 no-padding>
                                    <ion-row class="avatar" align-items-center>
                                      <ion-col col-12 no-padding>
                                        <ion-label class="name para wnormal" no-margin>
                                          {{item.guestInfo.guestInfo[0].firstName}}
                                          {{item.guestInfo.guestInfo[0].lastName}}</ion-label>
                                        <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='en'">
                                          Preferred
                                          Language: English</ion-label>
                                        <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='tl'">
                                          Preferred
                                          Language: Telugu</ion-label>
                                        <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='hi'">
                                          Preferred
                                          Language: Hindi</ion-label>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                  <!-- <ion-col no-padding col-5>
                                                <div class="startservice">
                                                  <button ion-button color="primary" text-uppercase class="custom-btn" (click)="primeService(item)"
                                                    small>start
                                                    service</button>
                                                </div>
                                              </ion-col> -->
                                  <ion-col col-5 style="color:white" *ngIf="otpStatus == 'verified'">
                                    <span text-uppercase>OTP {{item.serviceOTP}}</span>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      Flight detail
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.flNo}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      Flight date & time
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.flTimeLabel1}} - {{item.flInfo.flTimeLabel2}}
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      Airport Detail
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.origin}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                      *ngIf="item.service === 'transfer'">
                                      <div *ngIf="item.flInfo.departureInfo.mode === 'd2d'">
                                        domestic - domestic
                                      </div>
                                      <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                        domestic - international
                                      </div>
                                      <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                        international - domestic
                                      </div>
                                    </ion-label>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                      *ngIf="item.service != 'transfer'">
                                      {{item.flInfo.mode}}
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.dest}}
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      service date & time
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.slotInfo.slotTimeLabel1}} - {{item.slotInfo.slotTimeLabel2}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <ion-row>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          Adult
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                          {{item.guestInfo.adultCount}}
                                        </ion-label>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          Child
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                          {{item.guestInfo.childcount}}
                                        </ion-label>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          Infant
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                          {{item.guestInfo.infantcount}}
                                        </ion-label>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      plan & package details
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.pkgInfo.pkgName}}
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.pkgInfo.pkgPlan}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5 justify-content-center
                                    *ngIf="(item.pkgInfo.pkgName | uppercase) != 'PLATINUM PACKAGE'">
                                    <ion-row>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          PORTER
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                          *ngIf="item.addOnDetails && item.addOnDetails.includes('porter service')">
                                        </ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="!item.addOnDetails"></ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="item.addOnDetails && !item.addOnDetails.includes('porter service')">
                                        </ion-icon>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          LOUNGE
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                          *ngIf="item.addOnDetails && item.addOnDetails.includes('lounge')"></ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="!item.addOnDetails"></ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="item.addOnDetails && !item.addOnDetails.includes('lounge')"></ion-icon>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                  <ion-col col-5 justify-content-center
                                    *ngIf="(item.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'">
                                    <ion-row>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          PORTER
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"></ion-icon>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          LOUNGE
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"></ion-icon>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-grid>
                          </ion-grid>
                          <!-- <ion-grid  class="text_bar" *ngIf="getLength(gro.uid,'booked') == 0">
                              No Bookings Are Scheduled
                          </ion-grid> -->
                        </ion-list>

                        <ion-list *ngSwitchCase="'inProgressSlots'">
                          <ion-grid no-padding *ngFor="let item of slotsList; let j=index;">
                            <ion-grid class="scheduledCard" style="border: 2px solid;margin-top:5px;" padding-bottom
                              *ngIf="item.slotInfo && item.slotInfo.groInfo && item.slotInfo.groInfo.uid == gro.uid && item.status == 'started'">
                              <ion-row align-items-center style="color:white">
                                <ion-col no-padding col-10>
                                  <ion-label class="name para">{{item.slotInfo.slotTimeLabel1}}</ion-label>
                                  <ion-label class="subPara" text-uppercase>{{item.service}}</ion-label>
                                </ion-col>
                                <ion-col no-padding col-2 text-right (click)="toggleSlot(j)"
                                  [ngClass]="{active: isSlotShown(j)}">
                                  <button ion-button color="brown">
                                    <ion-icon color="success" item-right
                                      [name]="isSlotShown(j) ? 'arrow-dropdown' : 'arrow-dropright'"
                                      style="float: right;"></ion-icon>
                                  </button>
                                </ion-col>
                              </ion-row>
                              <ion-grid *ngIf="isSlotShown(j)">
                                <ion-row class="dro_rowtwo" align-items-center>
                                  <ion-col col-7 no-padding>
                                    <ion-row class="avatar" align-items-center>
                                      <ion-col col-12 no-padding>
                                        <ion-label class="name para wnormal" no-margin>
                                          {{item.guestInfo.guestInfo[0].firstName}}
                                          {{item.guestInfo.guestInfo[0].lastName}}</ion-label>
                                        <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='en'">
                                          Preferred
                                          Language: English</ion-label>
                                        <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='tl'">
                                          Preferred
                                          Language: Telugu</ion-label>
                                        <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='hi'">
                                          Preferred
                                          Language: Hindi</ion-label>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                  <ion-col no-padding col-5>
                                    <button ion-button color="primary" text-uppercase class="custom-btn"
                                      (click)="trackGuest(item.status,item.serviceList,item.bookingID,item.guestInfo.guestInfo[0].firstName,item.guestInfo.guestInfo[0].lastName,item.guestInfo.receiptMobile)"
                                      small>track guest service</button>
                                  </ion-col>
                                  <ion-col col-5 style="color:white" *ngIf="otpStatus == 'verified'">
                                    <span text-uppercase>OTP {{item.serviceOTP}}</span>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      Flight detail
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.flNo}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      Flight date & time
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.flTimeLabel1}} - {{item.flInfo.flTimeLabel2}}
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      Airport Detail
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.origin}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                      *ngIf="item.service === 'transfer'">
                                      <div *ngIf="item.flInfo.departureInfo.mode === 'd2d'">
                                        domestic - domestic
                                      </div>
                                      <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                        domestic - international
                                      </div>
                                      <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                        international - domestic
                                      </div>
                                    </ion-label>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                      *ngIf="item.service != 'transfer'">
                                      {{item.flInfo.mode}}
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.dest}}
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      service date & time
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.slotInfo.slotTimeLabel1}} - {{item.slotInfo.slotTimeLabel2}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <ion-row>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          Adult
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                          {{item.guestInfo.adultCount}}
                                        </ion-label>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          Child
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                          {{item.guestInfo.childcount}}
                                        </ion-label>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          Infant
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                          {{item.guestInfo.infantcount}}
                                        </ion-label>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      plan & package details
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.pkgInfo.pkgName}}
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.pkgInfo.pkgPlan}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5 justify-content-center
                                    *ngIf="(item.pkgInfo.pkgName | uppercase) != 'PLATINUM PACKAGE'">
                                    <ion-row>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          PORTER
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                          *ngIf="item.addOnDetails && item.addOnDetails.includes('porter service')">
                                        </ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="!item.addOnDetails"></ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="item.addOnDetails && !item.addOnDetails.includes('porter service')">
                                        </ion-icon>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          LOUNGE
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                          *ngIf="item.addOnDetails && item.addOnDetails.includes('lounge')"></ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="!item.addOnDetails"></ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="item.addOnDetails && !item.addOnDetails.includes('lounge')"></ion-icon>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>

                                  <ion-col col-5 justify-content-center
                                    *ngIf="(item.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'">
                                    <ion-row>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          PORTER
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"></ion-icon>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          LOUNGE
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"></ion-icon>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>

                                </ion-row>
                              </ion-grid>

                            </ion-grid>


                          </ion-grid>
                          <!-- <ion-grid  class="text_bar" *ngIf="getLength(gro.uid,'started') == 0">
                              No Bookings Are In Progress
                          </ion-grid> -->
                        </ion-list>

                        <ion-list *ngSwitchCase="'completedSlots'">
                          <ion-grid no-padding *ngFor="let item of slotsList; let j=index;">
                            <ion-grid class="scheduledCard" style="border: 2px solid;margin-top:5px;" padding-bottom
                              *ngIf="item.slotInfo && item.slotInfo.groInfo && item.slotInfo.groInfo.uid == gro.uid && item.status == 'completed'">
                              <ion-row align-items-center style="color:white">
                                <ion-col no-padding col-10>
                                  <ion-label class="name para">{{item.slotInfo.slotTimeLabel1}}</ion-label>
                                  <ion-label class="subPara" text-uppercase>{{item.service}}</ion-label>
                                </ion-col>
                                <ion-col no-padding col-2 text-right (click)="toggleSlot(j)"
                                  [ngClass]="{active: isSlotShown(j)}">
                                  <button ion-button color="brown">
                                    <ion-icon color="success" item-right
                                      [name]="isSlotShown(j) ? 'arrow-dropdown' : 'arrow-dropright'"
                                      style="float: right;"></ion-icon>
                                  </button>
                                </ion-col>
                              </ion-row>
                              <ion-grid *ngIf="isSlotShown(j)">
                                <ion-row class="dro_rowtwo" align-items-center>
                                  <ion-col col-7 no-padding>
                                    <ion-row class="avatar" align-items-center>
                                      <ion-col col-12 no-padding>
                                        <ion-label class="name para wnormal" no-margin>
                                          {{item.guestInfo.guestInfo[0].firstName}}
                                          {{item.guestInfo.guestInfo[0].lastName}}</ion-label>
                                        <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='en'">
                                          Preferred
                                          Language: English</ion-label>
                                        <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='tl'">
                                          Preferred
                                          Language: Telugu</ion-label>
                                        <ion-label class="subPara text-grey" no-margin *ngIf="item.prefLang==='hi'">
                                          Preferred
                                          Language: Hindi</ion-label>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                  <ion-col no-padding col-5>
                                    <!-- <button ion-button color="primary" text-uppercase class="custom-btn" (click)="trackGuest(item.status,item.serviceList,item.bookingID,item.guestInfo.guestInfo[0].firstName,item.guestInfo.guestInfo[0].lastName,item.guestInfo.receiptMobile)"
                                                    small>track guest service</button> -->
                                  </ion-col>
                                  <ion-col col-5 style="color:white" *ngIf="otpStatus == 'verified'">
                                    <span text-uppercase>OTP {{item.serviceOTP}}</span>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      Flight detail
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.flNo}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      Flight date & time
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.flTimeLabel1}} - {{item.flInfo.flTimeLabel2}}
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      Airport Detail
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.origin}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                      *ngIf="item.service === 'transfer'">
                                      <div *ngIf="item.flInfo.departureInfo.mode === 'd2d'">
                                        domestic - domestic
                                      </div>
                                      <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                        domestic - international
                                      </div>
                                      <div *ngIf="item.flInfo.departureInfo.mode === 'd2i'">
                                        international - domestic
                                      </div>
                                    </ion-label>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize
                                      *ngIf="item.service != 'transfer'">
                                      {{item.flInfo.mode}}
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.flInfo.dest}}
                                    </ion-label>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      service date & time
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.slotInfo.slotTimeLabel1}} - {{item.slotInfo.slotTimeLabel2}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <ion-row>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          Adult
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                          {{item.guestInfo.adultCount}}
                                        </ion-label>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          Child
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                          {{item.guestInfo.childcount}}
                                        </ion-label>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          Infant
                                        </ion-label>
                                        <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                          {{item.guestInfo.infantcount}}
                                        </ion-label>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree">
                                  <ion-col col-5>
                                    <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                      plan & package details
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.pkgInfo.pkgName}}
                                    </ion-label>
                                    <ion-label class="wnormal para valuewhite values" text-capitalize no-margin>
                                      {{item.pkgInfo.pkgPlan}}
                                    </ion-label>
                                  </ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5 justify-content-center
                                    *ngIf="(item.pkgInfo.pkgName | uppercase) != 'PLATINUM PACKAGE'">
                                    <ion-row>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          PORTER
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                          *ngIf="item.addOnDetails && item.addOnDetails.includes('porter service')">
                                        </ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="!item.addOnDetails"></ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="item.addOnDetails && !item.addOnDetails.includes('porter service')">
                                        </ion-icon>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          LOUNGE
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"
                                          *ngIf="item.addOnDetails && item.addOnDetails.includes('lounge')"></ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="!item.addOnDetails"></ion-icon>
                                        <ion-icon name="close-circle" class="addOnIcons aoNotAvailable"
                                          *ngIf="item.addOnDetails && !item.addOnDetails.includes('lounge')"></ion-icon>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                  <ion-col col-5 justify-content-center
                                    *ngIf="(item.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'">
                                    <ion-row>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          PORTER
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"></ion-icon>
                                      </ion-col>
                                      <ion-col no-padding>
                                        <ion-label class="wnormal subPara text-grey" no-margin text-capitalize>
                                          LOUNGE
                                        </ion-label>
                                        <ion-icon name="checkmark-circle" class="addOnIcons aoAvailable"></ion-icon>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="dro_rowthree" *ngIf="item.rating && item.rating.ratedByGRO">
                                  <ion-col col-5 style="color:white">GRO Rating</ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <rating [(ngModel)]="item.rating.ratedByGRO.stars" max="5"
                                      emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                                      nullable="false">
                                    </rating>
                                    <p class="remarks" *ngIf="item.rating.ratedByGRO">Remarks :
                                      {{item.rating.ratedByGRO.msg}}</p>
                                  </ion-col>
                                </ion-row>

                                <ion-row class="dro_rowthree" *ngIf="item.rating && item.rating.ratedByGuest">
                                  <ion-col col-5 style="color:white">Guest Rating</ion-col>
                                  <ion-col col-2></ion-col>
                                  <ion-col col-5>
                                    <rating [(ngModel)]="item.rating.ratedByGuest.stars" max="5"
                                      emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                                      nullable="false">
                                    </rating>
                                    <p class="remarks" *ngIf="item.rating.ratedByGuest">Remarks :
                                      {{item.rating.ratedByGuest.msg}}</p>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-grid>
                          </ion-grid>
                          <!-- <ion-grid  class="text_bar" *ngIf="getLength(gro.uid,'completed') == 0">
                              Bookings Are Yet To Be Completed
                          </ion-grid> -->
                        </ion-list>

                      </div>
                    </ion-grid>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-grid>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>