page-executive-details {
    .roundbtn_icon{
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    .dark_bg2{
        background: #242639;
    }
    .dro_grid{
        background: #353A50;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .dro_grid>.dro_head{
        padding: 6px 10px;
        border-bottom: 1px solid #242639;
        // border-bottom: 1px solid #eee
    }
    .day
    {
        background-color: #F7CC8D;
        color: #000;
        text-align: center;
        width: 30%;
        padding: 5px;
        font-size: 12px;
    }
    .night
    {
        background-color: #284575;
        color: #000;
        text-align: center;
        width: 30%;
        padding: 5px;
        font-size: 12px;
    }
    .off
    {
        background-color: #FF6565;
        color: #000;
        text-align: center;
        width: 30%;
        padding: 5px;
        font-size: 12px;
    }
    .rest
    {
        background-color: #E9E9EF;
        text-align: center;
        width: 30%;
        padding: 5px;
        font-size: 12px;
        color: #000;
    }
    .dro_grid>.dro_head .head4{
        color: #fff;
    }
    .dro_grid>.dro_rowtwo{
        padding: 6px 16px;
        // border-bottom: 1px solid #eee;
        border-bottom: 1px solid #242639;
    }
    p.remarks {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    ul.rating {
        padding: 0;
    }
    .dro_grid>.dro_rowtwo .name{
        color: #fff;
    }
    .dro_grid>.dro_rowtwo [col-6]{
        line-height: 18px;
    }
    .dro_grid>.dro_rowtwo [col-6] .head4{
        color: #fff;
    }
    .dro_grid>.dro_rowtwo .avatar [col-9]{
        line-height: 18px;
    }
    .avatar ion-icon {
        font-size: 2.4em;
    }
    .dro_grid>.dro_rowthree{
        padding: 6px 16px;
        // border-bottom: 1px solid #eee;
        border-bottom: 1px solid #242639;
    }
    .dro_grid .values{
        margin-top: 5px;
    }
    .dro_grid>.dro_rowthree .valuewhite{
        color: #fff;
    }
    .timer{text-align: right};
    // .startservice{display: none;}
    .dro_grid>.dro_rowfour{
        padding: 6px 16px;
    }
    // .dro_grid.active{
    //     background: #fff;
    // }
    // .dro_grid.active>.dro_head{
    //     padding: 6px 10px;
    //     border-bottom: 1px solid #eee
    // }
    // .dro_grid.active>.dro_head .head4{
    //     color: #222;
    // }
    // .dro_grid.active>.dro_rowtwo .name{
    //     color: #222;
    // }
    // .dro_grid.active>.dro_rowtwo [col-6] .head4{
    //     color: #222;
    // }
    // .dro_grid.active>.dro_rowthree .valuewhite{
    //     color: #222;
    // }
    // .dro_grid.active .timer{
    //     display: none;
    // }
    // .dro_grid.active .startservice{
    //     text-align: left;
    //     display: block;
    // }
    .alignbottom{
        vertical-align: bottom;
        line-height: 18px;
    }
    // .dro_grid.active>ion-row{
    //     border-bottom: 1px solid #eee;
    // }
    // .dro_grid.active>ion-row:last-child{
    //     border-bottom: 0px;
    // }
    .posmenu{
        display: block !important;
    }
    .dategrid{
        background: #292D40;
        min-height: 100px;
    }
    .addOnIcons{
        display: flex;
        margin: 0 auto;
        text-align: center;
    }

    .aoAvailable{
        color: greenyellow;
    }

    .aoNotAvailable{
        color: red;
    }
    .cardInfo{
        font-size: 15px !important;
    }
    .dark_bg2{
        background: #242639;
    }
    .status_grid{
        background: #fff;
    }
    .statushead{
        padding: 10px;
        font-weight: bold;
        background: #F6F7F7;
        font-size: 1.3rem;
    }
    .statusname{
        font-size: 1.1rem;
    }
    .status_row{
        padding: 5px 0px;
        border-bottom: 1px solid #ccc;
    }
    .dategrid{
        background: #292D40;
        min-height: 100px;
    }
    .grl_db_box{
        background: #fff;
        color: #8592AD;
        padding: 10px 10px;
    }
    .grl_db_box .ico_num{
        font-size: 3rem;
    }
    .grl_db_box .ico_num span{display: inline-block;}
    .grl_db_box .makedark{       
        color: #665EFF;       
    }
    .grl_db_box .makedark .txt{       
        color: #000;       
    }
    .grl_db_box .makepink{       
        color: #C840E9;       
    }
    .grl_db_box .makepink .txt{       
        color: #000;       
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
    }
    /* ios */
    .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #fff;
    }
    .text-white .toolbar-title-md {
        color: #fff;
        display: flex;
        width: 25%;
        margin: auto;
        align-items: center;
        padding: 10px 0px;
    }
    .cardInfo:after{
        content: "\203A";
        position: absolute;
        width: 16px;
        height:16px;
        font-size: 24px;
        display: block;    
        top: 15%;
        right:5px;
        color: #000;
        transition: 0.5s all ease;
      }
      .cardInfo.segment-activated:after{
          top:35%;
          transform: rotate(90deg);
      }
      .prime_logo{
        width:50px;
        height: 50px;
      }
      .text_bar{
          text-align: center;
          border-radius: 8px;
          background: #fff;
          color: #1E4679;
          box-shadow: 1px 3px 16px #2c2c2c;
          height: 40px;
          margin: 10px 0px;
          line-height: 40px;
        }  
    .reallc_butt{
        border-radius: 4px;
        border: 1px solid #fff;
    }
    @media screen and (min-width: 600px){
        .para{
            font-size: 2rem;
        }
        .subPara{
            font-size: 1.5rem;
        }
        // .roundbtn_icon{
        //     // display: flex;
        //     // justify-content: center;
        //     width: 40px;
        //     height: 40px;
        //     border-radius: 25px;
        // }
        .segment-md .segment-button {
           
            font-size: 2.5rem;
        }
        .toolbar-title-md
        {
            font-size: 2.5rem;
        }
        .img-align
        {
            width: 35px !important;
        }
        .form_group
        {
            min-height: 70px;
        }
       .segment-md ion-label
        {
            padding: 35px 0px 0px 0px;
        }
        ion-grid 
        {
            font-size: 20px;
        }
        
        .custom-btn
        {
            height: 4rem;
            width: 85%;
            // font-size: 1.9rem;
        }
      .button-md
      {
          font-size: 1.9rem;
      }

      .scheduledCard{
          color: white;
      }
        
    }
}
ion-modal  .modal-wrapper {
    position: absolute;
    top: 35%;
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
}
ion-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
